{{ define "label/app.html" }}
{{template "head" .}}
<body class="article page">
{{template "header" .}}

<main class="wrapper" id="main">
    <div class="content">
        <div>
            <h1 class="page-title">电影先生APP</h1>
            <div class="box">
                <div class="article-content">
                    <h2>APP介绍</h2>
                    <p>聚合全网影片，你想看的全都有！每天搜集互联网上最新、最热、最全的影视大片，高清正版免费在线观看！</p>
                    <ul>
                        <li><em><b>防封</b></em>：如果域名被封无法访问，可通过App打开、查看
                            <a href="../web.html">最新网址</a>；
                        </li>
                        <li><em><b>最新</b></em>：最新热门VIP在线看与下载资源同步更新；</li>
                        <li><em><b>多源</b></em>：持续添加优质线路、视频源供您切换，画质清晰、播放流畅；</li>
                        <li><em><b>海量</b></em>：聚合全网资源，想看啥就看啥</li>
                        <li><em><b>下载</b></em>：聚合全网下载，持续完善资源库</li>
                    </ul>
                    <h2 id="url">APP下载</h2>
                    <p>下载提示：请收藏电影先生域名到浏览器，或添加至桌面图标。</p>
                    <p>
                        <a class="btn-important btn-large shadow-drop article-btn"
                           href="https://dianyi.ng/dianying.apk"><i class="icon-android"></i>安卓APP下载</a>
                        <a class="btn-important btn-large shadow-drop article-btn"
                           href="https://www.dianyi.ng/dianying.apk"><i class="icon-apple"></i>苹果APP下载</a>
                    </p>
                    <img src="{{.__STATIC__}}/images/app-download-android.png"><br> &nbsp; 安卓手机扫码下载
                    <hr>
                    <p class="article-imglist"><img src="{{.__STATIC__}}/images/screenshot/1.png" width="280">
                        <img src="{{.__STATIC__}}/images/screenshot/2.png" width="280">
                        <img src="{{.__STATIC__}}/images/screenshot/6.png" width="280">
                        <img src="{{.__STATIC__}}/images/screenshot/7.png" width="280">
                    </p>
                    <hr>
                    <h2>电影先生</h2>
                    <ul>
                        <li>
                            <a href="/about.html" target="_blank">关于我们</a>
                        </li>
                        <li>
                            <a href="" target="_blank">手机APP</a>
                        </li>
                        <li>
                            <a href="../web.html" target="_blank">最新网址</a>
                        </li>
                        <li>
                            <a href="/help.html" target="_blank">如何投屏到电视?</a>
                        </li>
                    </ul>
                </div>
                <div class="article-bg"></div>
                <div class="article-bg01"></div>
            </div>
        </div>
    </div>
</main>

{{template "footer" .}}
{{template "popup" .}}
{{template "javascript" .}}
</body>
</html>
{{end}}
