{{ define "arttype/zixun.html" }}
{{template "head" .}}
<body class="page">
{{template "header" .}}

<main class="wrapper" id="main">
    <div class="content">
        <div class="col-lg-wide-15 col-md-wide-2 col-xs-1 padding-0">
            <div class="mxone-pannel mxone-pannel-bg clearfix">
                <div class="mxone-pannel-box clearfix">
                    <div class="mxone-pannel-bd col-pd newsbg">
                        <h3 class="news-nav-head text-muted text-center hidden-sm hidden-xs">资讯分类</h3>
                        <ul class="news-nav type-slide clearfix">
                            <li class="newsactive"><a href="">资讯</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-wide-6 col-md-wide-8 col-xs-1 mxone-pannel-side">
            <div class="mxone-pannel mxone-pannel-bg clearfix">
                <div class="mxone-pannel-box clearfix">
                    <div class="mxone-pannel_hd">
                        <div class="mxone-pannel__head active bottom-line clearfix">
                            <span class="more text-muted pull-right hidden-xs"></span>
                            <h3 class="title">
                                资讯 </h3>
                        </div>
                    </div>
                    <div class="mxone-pannel_bd clearfix">
                        <ul class="mxone-vodlist__media active col-pd clearfix">
                            <li>
                                <div class="thumb">
                                    <a class="w-thumb mxone-vodlist__thumb active lazy lazyload"
                                       data-src="https://picsum.photos/190/114?t=0"
                                       href="/artdetail.html"
                                       title="【赠礼】六一是上海解封的日子，这是一个永远的儿童节！">
                                    </a>
                                </div>
                                <div class="detail">
                                    <h4 class="title"><a
                                            href="/artdetail.html">【赠礼】六一是上海解封的日子，这是一个永远的儿童节！</a>
                                    </h4>
                                    <p class="hidden-sm hidden-xs">
                                        今天是2022年6月1日，第72个国际儿童节，同时也是上海同胞历经两个多月的新冠疫情封城后解封的日子。从三月底上海开始酝</p>
                                    <p class="margin-0 font-12"><span class="hidden-xs"><span
                                            class="text-muted">分类：</span>资讯<span
                                            class="split-line"></span></span><span class="text-muted">时间：</span>2022-06-02
                                    </p>
                                </div>
                            </li>
                            <li class="top-line-dot">
                                <div class="thumb">
                                    <a class="w-thumb mxone-vodlist__thumb active lazy lazyload"
                                       data-src="https://picsum.photos/190/114?t=1"
                                       href="/artdetail.html"
                                       title="看书先生APP即将上线！">
                                    </a>
                                </div>
                                <div class="detail">
                                    <h4 class="title"><a href="/artdetail.html">看书先生APP即将上线！</a></h4>
                                    <p class="hidden-sm hidden-xs">防封：如果域名被封无法访问，可通过App打开、查看&nbsp;最新网址；最新：最新热门VIP在线看与下载资源同步更新；多</p>
                                    <p class="margin-0 font-12"><span class="hidden-xs"><span
                                            class="text-muted">分类：</span>资讯<span
                                            class="split-line"></span></span><span class="text-muted">时间：</span>2022-06-01
                                    </p>
                                </div>
                            </li>
                            <li class="top-line-dot">
                                <div class="thumb">
                                    <a class="w-thumb mxone-vodlist__thumb active lazy lazyload"
                                       data-src="https://picsum.photos/190/114?t=2"
                                       href="/artdetail.html"
                                       title="看书先生即将上线！">
                                    </a>
                                </div>
                                <div class="detail">
                                    <h4 class="title"><a href="/artdetail.html">看书先生即将上线！</a></h4>
                                    <p class="hidden-sm hidden-xs">
                                        聚合全网小说，你想看的全都有！每天搜集互联网最新小说，为广大用户免费提供无广告在线观看小说服务，及时收录最新、最热、最全</p>
                                    <p class="margin-0 font-12"><span class="hidden-xs"><span
                                            class="text-muted">分类：</span>资讯<span
                                            class="split-line"></span></span><span class="text-muted">时间：</span>2022-06-01
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-wide-25 mxone-pannel-side hidden-md hidden-sm hidden-xs">
            <div class="mxone-pannel mxone-pannel-bg clearfix">
                <div class="mxone-pannel-box clearfix">
                    <div class="mxone-pannel_hd">
                        <div class="mxone-pannel__head clearfix">
                            <h3 class="title">
                                热门资讯
                            </h3>
                        </div>
                    </div>
                    <div class="mxone-pannel_bd col-pd">
                        <ul class="mxone-vodlist__text clearfix">
                            <li>
                                <a class="text-overflow" href="/artdetail.html"
                                   title="【赠礼】六一是上海解封的日子，这是一个永远的儿童节！"><span
                                        class="badge badge-radius badge-first">1</span>【赠礼】六一是上海解封的日子，这是一个永远的儿童节！</a>
                            </li>
                            <li>
                                <a class="text-overflow" href="/artdetail.html" title="看书先生APP即将上线！"><span
                                        class="badge badge-radius badge-second">2</span>看书先生APP即将上线！</a>
                            </li>
                            <li>
                                <a class="text-overflow" href="/artdetail.html" title="看书先生即将上线！"><span
                                        class="badge badge-radius badge-third">3</span>看书先生即将上线！</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div><!-- 热门资讯 -->
        </div>
    </div>
</main>
<div style="clear:both;"></div>

{{template "footer" .}}
{{template "popup" .}}
{{template "javascript" .}}
</body>
</html>

{{end}}