{{ define "v/category.html" }}
{{template "head" .}}
<body class="page">
{{template "header" .}}

<!-- 头部 -->
<main class="wrapper" id="main">
	<div class="content">
		<!-- 分类页分类-start -->
		<div class="page-heading">
			<h1 class="page-title">{{ .macType.TypeName }}</h1>
			<div class="list-header scroll-box">
				<div class="block-box-items scroll-content">
					{{ range .PageData.listMacType }}
					<div class="block-box-item {{ if eq $.page .TypeEn}}selected{{end}}">
						<a class="block-box-content" href="/v/{{.TypeEn}}.html" title="{{.TypeName}}"> <strong class="title">{{.TypeName}}</strong> </a>
						<div class="block-box-bg">
							{{.TypeName}}
						</div>
					</div>
					{{end}}
					<div class="space-line-bold"></div>
					<div class="block-box-item">
						<a class="block-box-content" href="/pianku-{{.macType.TypeEn}}.html" title="查看全部影片"> <strong class="title">影片库</strong> </a>
						<div class="block-box-bg">
							<i class="icon-cate-dy"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 分类页分类-end -->

		{{ if eq .CategoryType "top" }}
		<div class="module module-bg">
			<div class="module-heading">
				<h2 class="module-title">热播{{ .macType.TypeName }}<span class="module-title-en">TRENDING</span></h2>
			</div>
			<div class="module-list module-lines-list">
				<div class="module-items">
					{{ range .PageData.CurrentlyTrending }}
					<div class="module-item">
						<div class="module-item-cover">
							<div class="module-item-pic">
								<a href="/show-{{ EncryptID .VodID }}.html" title="{{ .VodName }}">
									<i class="icon-play"></i>
								</a>
								<img alt="{{ .VodName }}"
									 class="lazy lazyloaded"
									 data-src="{{ .VodPic }}"
									 onerror="this.src='/statics/image/loading.png'"
									 src="/statics/image/loading.png">
								<div class="loading"></div>
							</div>
							<div class="module-item-caption">
								<span> {{ .VodYear }}</span>
								<span class="video-class">{{ TypeName $.PageData.listMacType .TypeID }}</span>
								<span>{{ .VodArea }}</span>
							</div>
							<div class="module-item-content">
								<div class="module-item-style video-name">
									<a href="/show-{{ EncryptID .VodID }}.html" title="{{ .VodName }}">{{ .VodName }}</a>
								</div>
								<div class="module-item-style video-tag">
									{{ $VodActorList := split .VodActor "," }}
									{{ range $index, $name := $VodActorList }}
									<a href="search.html" target="_blank">{{$name}}</a>&nbsp;
									{{ end }}
								</div>
								<div class="module-item-style video-text">
									{{ raw .VodContent }}
								</div>
							</div>
						</div>
						<div class="module-item-titlebox">
							<a class="module-item-title" href="/show-{{ EncryptID .VodID }}.html" title="{{ .VodName }}">{{ .VodName }}</a>
						</div>
						<div class="module-item-text">{{ .VodRemarks }}</div>
					</div>
					{{end}}
				</div>
			</div>
		</div>
		<!-- 分类页热播 -->

		<!-- 有二级分类 -->
		{{ range .PageData.listMacType }}
		<div class="module module-bg">
			<div class="module-heading">
				<h2 class="module-title">
					<a href="/v/{{.TypeEn}}.html" title="{{.TypeName}}">{{.TypeName}}<span class="module-title-en">{{.TypeEn}}</span></a>
				</h2>
				<a class="more" href="/v/{{.TypeEn}}.html" title="更多">更多{{.TypeName}}<i class="icon-arrow-right-o"></i></a>
			</div>
			<div class="module-list module-line-list">
				<div class="module-items">
					{{ $list := ListMacVod $.PageData .TypeEn }}
					{{range $index,$data := $list}}
					<div class="module-item">
						<div class="module-item-cover">
							<div class="module-item-pic">
								<a href="/show-{{ EncryptID $data.VodID }}.html" title="{{ $data.VodName }}">
									<i class="icon-play"></i>
								</a>
								<img alt="{{ $data.VodName }}"
									 class="lazy lazyloaded"
									 data-src="{{ $data.VodPic }}"
									 onerror="this.src='/statics/image/loading.png'"
									 src="/statics/image/loading.png">
								<div class="loading"></div>
							</div>
							<div class="module-item-caption">
								<span> {{ $data.VodYear }}</span>
								<span class="video-class">{{ $data.VodClass }}</span>
								<span>{{ $data.VodArea }}</span>
							</div>
							<div class="module-item-content">
								<div class="module-item-style video-name">
									<a href="/show-{{ EncryptID $data.VodID }}.html" title="{{ $data.VodName }}">{{ $data.VodName }}</a>
								</div>
								<div class="module-item-style video-tag">
									{{ $VodActorList := split $data.VodActor "," }}
									{{ range $index, $name := $VodActorList }}
									<a href="search.html" target="_blank">{{$name}}</a>&nbsp;
									{{ end }}
								</div>
								<div class="module-item-style video-text">
									{{ raw $data.VodContent }}
								</div>
							</div>
						</div>
						<div class="module-item-titlebox">
							<a class="module-item-title" href="/show-{{ EncryptID $data.VodID }}.html" title="{{ $data.VodName }}">{{ $data.VodName }}</a>
						</div>
						<div class="module-item-text">{{ $data.VodRemarks }}</div>
					</div>
					{{end}}
				</div>
			</div>
		</div>
		{{end}}
		<!-- 有二级分类 -->
		{{end}}

		{{ if eq .CategoryType "sub" }}
		<div class="module module-bg">
			<div class="module-heading">
				<h2 class="module-title">{{ $.PageData.pageList.Total }}部{{ .macType.TypeName }}</h2>
			</div>
			<div class="module-list">
				<div class="module-items">
					{{ range .PageData.pageList.List }}
					<div class="module-item">
						<div class="module-item-cover">
							<div class="module-item-pic">
								<a href="/show-{{ EncryptID .VodID }}.html" title="{{ .VodName }}">
									<i class="icon-play"></i>
								</a>
								<img alt="{{ .VodName }}"
									 class="lazy lazyloaded"
									 data-src="{{ .VodPic }}"
									 onerror="this.src='/statics/image/loading.png'"
									 src="/statics/image/loading.png">
								<div class="loading"></div>
							</div>
							<div class="module-item-caption">
								<span>{{ .VodYear }}</span>
								<span class="video-class">{{ TypeName $.PageData.listMacType .TypeID }}</span>
								<span>{{ .VodArea }}</span>
							</div>
							<div class="module-item-content">
								<div class="module-item-style video-name">
									<a href="/show-{{ EncryptID .VodID }}.html" title="{{ .VodName }}">{{ .VodName }}</a>
								</div>
								<div class="module-item-style video-tag">
									{{ $VodActorList := split .VodActor "," }}
									{{ range $index, $name := $VodActorList }}
									<a href="search.html" target="_blank">{{$name}}</a>&nbsp;
									{{ end }}
								</div>
								<div class="module-item-style video-text">　　{{ raw .VodContent }}</div>
							</div>
						</div>
						<div class="module-item-titlebox">
							<a href="/show-{{ EncryptID .VodID }}.html" class="module-item-title" title="{{ .VodName }}">{{ .VodName }}</a>
						</div>
						<div class="module-item-text">{{ .VodRemarks }}</div>
					</div>
					{{end}}
				</div>
			</div>
		</div>

		<div class="module-footer">
			<div id="page">
				{{ raw .PageData.PaginationHTML }}
			</div>
		</div>
		{{end}}
	
	
	</div>

	<div class="module-footer module-type">
		<a class="load-all" href="/pianku-{{ .macType.TypeEn }}.html" title="全部{{ .macType.TypeName }}">全部{{ .macType.TypeName }}<i class="icon-arrow-right-o"></i></a>
	</div>

</main>

{{template "footer" .}}
{{template "popup" .}}
{{template "javascript" .}}
</body>
</html>
{{end}}
