{{ define "v/dianying.html" }}
{{template "head" .}}
<body class="page">
{{template "header" .}}

<!-- 头部 -->
<main class="wrapper" id="main">
	<div class="content">
		<div class="page-heading">
			<h1 class="page-title">电影</h1>
			<div class="list-header scroll-box">
				<div class="block-box-items scroll-content">
					{{ range .DianYingData.listMacType }}
					<div class="block-box-item ">
						<a class="block-box-content" href="/v/{{.TypeEn}}.html" title="{{.TypeName}}"> <strong class="title">{{.TypeName}}</strong> </a>
						<div class="block-box-bg">
							{{.TypeName}}
						</div>
					</div>
					{{end}}
					<div class="space-line-bold"></div>
					<div class="block-box-item">
						<a class="block-box-content" href="/pianku.html" title="查看全部影片"> <strong class="title">影片库</strong> </a>
						<div class="block-box-bg">
							<i class="icon-cate-dy"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 分类页分类 -->
		
		<div class="module module-bg">
			<div class="module-heading">
				<h2 class="module-title">热播电影<span class="module-title-en">TRENDING</span></h2>
			</div>
			<div class="module-list module-lines-list">
				<div class="module-items">
					{{ range .DianYingData.CurrentlyTrending }}
					<div class="module-item">
						<div class="module-item-cover">
							<div class="module-item-pic">
								<a href="show.html" title="{{ .VodName }}">
									<i class="icon-play"></i>
								</a>
								<img alt="{{ .VodName }}"
									 class="lazy lazyloaded"
									 data-src="{{ .VodPic }}"
									 onerror="this.src='/statics/image/loading.png'"
									 src="/statics/image/loading.png">
								<div class="loading"></div>
							</div>
							<div class="module-item-caption">
								<span> {{ .VodYear }}</span>
								<span class="video-class">{{ .VodClass }}</span>
								<span>{{ .VodArea }}</span>
							</div>
							<div class="module-item-content">
								<div class="module-item-style video-name">
									<a href="show.html" title="{{ .VodName }}">{{ .VodName }}</a>
								</div>
								<div class="module-item-style video-tag">
									{{ $VodActorList := split .VodActor "," }}
									{{ range $index, $name := $VodActorList }}
									<a href="search.html" target="_blank">{{$name}}</a>&nbsp;
									{{ end }}
								</div>
								<div class="module-item-style video-text">
									{{ .VodContent }}
								</div>
							</div>
						</div>
						<div class="module-item-titlebox">
							<a class="module-item-title" href="show.html" title="{{ .VodName }}">{{ .VodName }}</a>
						</div>
						<div class="module-item-text">{{ .VodRemarks }}</div>
					</div>
					{{end}}
				</div>
			</div>
		</div>
		<!-- 分类页热播 -->
		
		<!--动作片-->
		<div class="module module-bg">
			<div class="module-heading">
				<h2 class="module-title">
					<a href="/v/action.html" title="动作片">动作片<span class="module-title-en">action</span></a>
				</h2>
				<a class="more" href="/v/action.html" title="更多">更多动作片<i class="icon-arrow-right-o"></i></a>
			</div>
			<div class="module-list module-line-list">
				<div class="module-items">
					{{ range .DianYingData.listDongZuoPian }}
					<div class="module-item">
						<div class="module-item-cover">
							<div class="module-item-pic">
								<a href="show.html" title="{{ .VodName }}">
									<i class="icon-play"></i>
								</a>
								<img alt="{{ .VodName }}"
									 class="lazy lazyloaded"
									 data-src="{{ .VodPic }}"
									 onerror="this.src='/statics/image/loading.png'"
									 src="/statics/image/loading.png">
								<div class="loading"></div>
							</div>
							<div class="module-item-caption">
								<span> {{ .VodYear }}</span>
								<span class="video-class">{{ .VodClass }}</span>
								<span>{{ .VodArea }}</span>
							</div>
							<div class="module-item-content">
								<div class="module-item-style video-name">
									<a href="show.html" title="{{ .VodName }}">{{ .VodName }}</a>
								</div>
								<div class="module-item-style video-tag">
									{{ $VodActorList := split .VodActor "," }}
									{{ range $index, $name := $VodActorList }}
									<a href="search.html" target="_blank">{{$name}}</a>&nbsp;
									{{ end }}
								</div>
								<div class="module-item-style video-text">
									{{ .VodContent }}
								</div>
							</div>
						</div>
						<div class="module-item-titlebox">
							<a class="module-item-title" href="show.html" title="{{ .VodName }}">{{ .VodName }}</a>
						</div>
						<div class="module-item-text">{{ .VodRemarks }}</div>
					</div>
					{{end}}
				</div>
			</div>
		</div>
		<!--动作片-->
		
		
		<!--喜剧片-->
		<div class="module module-bg">
			<div class="module-heading">
				<h2 class="module-title"><a href="/v/xiju.html" title="喜剧片">喜剧片<span
						class="module-title-en">xiju</span></a></h2>
				<a class="more" href="/v/xiju.html" title="更多">更多喜剧片<i class="icon-arrow-right-o"></i></a></div>
			<div class="module-list module-line-list">
				<div class="module-items">
					{{ range .DianYingData.listXiJuPian }}
					<div class="module-item">
						<div class="module-item-cover">
							<div class="module-item-pic">
								<a href="show.html" title="{{ .VodName }}">
									<i class="icon-play"></i>
								</a>
								<img alt="{{ .VodName }}"
									 class="lazy lazyloaded"
									 data-src="{{ .VodPic }}"
									 onerror="this.src='/statics/image/loading.png'"
									 src="/statics/image/loading.png">
								<div class="loading"></div>
							</div>
							<div class="module-item-caption">
								<span> {{ .VodYear }}</span>
								<span class="video-class">{{ .VodClass }}</span>
								<span>{{ .VodArea }}</span>
							</div>
							<div class="module-item-content">
								<div class="module-item-style video-name">
									<a href="show.html" title="{{ .VodName }}">{{ .VodName }}</a>
								</div>
								<div class="module-item-style video-tag">
									{{ $VodActorList := split .VodActor "," }}
									{{ range $index, $name := $VodActorList }}
									<a href="search.html" target="_blank">{{$name}}</a>&nbsp;
									{{ end }}
								</div>
								<div class="module-item-style video-text">
									{{ .VodContent }}
								</div>
							</div>
						</div>
						<div class="module-item-titlebox">
							<a class="module-item-title" href="show.html" title="{{ .VodName }}">{{ .VodName }}</a>
						</div>
						<div class="module-item-text">{{ .VodRemarks }}</div>
					</div>
					{{end}}
				</div>
			</div>
		</div>
		<!--喜剧片-->
		
		<!--爱情片-->
		<div class="module module-bg">
			<div class="module-heading">
				<h2 class="module-title">
					<a href="/v/romance.html" title="爱情片">爱情片<span class="module-title-en">romance</span></a>
				</h2>
				<a class="more" href="/v/romance.html" title="更多">更多爱情片<i class="icon-arrow-right-o"></i></a>
			</div>
			<div class="module-list module-line-list">
				<div class="module-items">
					{{ range .DianYingData.listAiQingPian }}
					<div class="module-item">
						<div class="module-item-cover">
							<div class="module-item-pic">
								<a href="show.html" title="{{ .VodName }}">
									<i class="icon-play"></i>
								</a>
								<img alt="{{ .VodName }}"
									 class="lazy lazyloaded"
									 data-src="{{ .VodPic }}"
									 onerror="this.src='/statics/image/loading.png'"
									 src="/statics/image/loading.png">
								<div class="loading"></div>
							</div>
							<div class="module-item-caption">
								<span> {{ .VodYear }}</span>
								<span class="video-class">{{ .VodClass }}</span>
								<span>{{ .VodArea }}</span>
							</div>
							<div class="module-item-content">
								<div class="module-item-style video-name">
									<a href="show.html" title="{{ .VodName }}">{{ .VodName }}</a>
								</div>
								<div class="module-item-style video-tag">
									{{ $VodActorList := split .VodActor "," }}
									{{ range $index, $name := $VodActorList }}
									<a href="search.html" target="_blank">{{$name}}</a>&nbsp;
									{{ end }}
								</div>
								<div class="module-item-style video-text">
									{{ .VodContent }}
								</div>
							</div>
						</div>
						<div class="module-item-titlebox">
							<a class="module-item-title" href="show.html" title="{{ .VodName }}">{{ .VodName }}</a>
						</div>
						<div class="module-item-text">{{ .VodRemarks }}</div>
					</div>
					{{end}}
				</div>
			</div>
		</div>
		<!--爱情片-->
		
		<!--科幻片-->
		<div class="module module-bg">
			<div class="module-heading">
				<h2 class="module-title">
					<a href="/v/science.html" title="科幻片">科幻片<span class="module-title-en">science</span></a>
				</h2>
				<a class="more" href="/v/science.html" title="更多">更多科幻片<i class="icon-arrow-right-o"></i></a>
			</div>
			<div class="module-list module-line-list">
				<div class="module-items">
					{{ range .DianYingData.listKeHuanPian }}
					<div class="module-item">
						<div class="module-item-cover">
							<div class="module-item-pic">
								<a href="show.html" title="{{ .VodName }}">
									<i class="icon-play"></i>
								</a>
								<img alt="{{ .VodName }}"
									 class="lazy lazyloaded"
									 data-src="{{ .VodPic }}"
									 onerror="this.src='/statics/image/loading.png'"
									 src="/statics/image/loading.png">
								<div class="loading"></div>
							</div>
							<div class="module-item-caption">
								<span> {{ .VodYear }}</span>
								<span class="video-class">{{ .VodClass }}</span>
								<span>{{ .VodArea }}</span>
							</div>
							<div class="module-item-content">
								<div class="module-item-style video-name">
									<a href="show.html" title="{{ .VodName }}">{{ .VodName }}</a>
								</div>
								<div class="module-item-style video-tag">
									{{ $VodActorList := split .VodActor "," }}
									{{ range $index, $name := $VodActorList }}
									<a href="search.html" target="_blank">{{$name}}</a>&nbsp;
									{{ end }}
								</div>
								<div class="module-item-style video-text">
									{{ .VodContent }}
								</div>
							</div>
						</div>
						<div class="module-item-titlebox">
							<a class="module-item-title" href="show.html" title="{{ .VodName }}">{{ .VodName }}</a>
						</div>
						<div class="module-item-text">{{ .VodRemarks }}</div>
					</div>
					{{end}}
				</div>
			</div>
		</div>
		<!--科幻片-->
		
		
		<!--恐怖片-->
		<div class="module module-bg">
			<div class="module-heading">
				<h2 class="module-title">
					<a href="/v/horror.html" title="恐怖片">恐怖片<span class="module-title-en">horror</span></a>
				</h2>
				<a class="more" href="/v/horror.html" title="更多">更多恐怖片<i class="icon-arrow-right-o"></i></a>
			</div>
			<div class="module-list module-line-list">
				<div class="module-items">
					{{ range .DianYingData.listKongBuPian }}
					<div class="module-item">
						<div class="module-item-cover">
							<div class="module-item-pic">
								<a href="show.html" title="{{ .VodName }}">
									<i class="icon-play"></i>
								</a>
								<img alt="{{ .VodName }}"
									 class="lazy lazyloaded"
									 data-src="{{ .VodPic }}"
									 onerror="this.src='/statics/image/loading.png'"
									 src="/statics/image/loading.png">
								<div class="loading"></div>
							</div>
							<div class="module-item-caption">
								<span> {{ .VodYear }}</span>
								<span class="video-class">{{ .VodClass }}</span>
								<span>{{ .VodArea }}</span>
							</div>
							<div class="module-item-content">
								<div class="module-item-style video-name">
									<a href="show.html" title="{{ .VodName }}">{{ .VodName }}</a>
								</div>
								<div class="module-item-style video-tag">
									{{ $VodActorList := split .VodActor "," }}
									{{ range $index, $name := $VodActorList }}
									<a href="search.html" target="_blank">{{$name}}</a>&nbsp;
									{{ end }}
								</div>
								<div class="module-item-style video-text">
									{{ .VodContent }}
								</div>
							</div>
						</div>
						<div class="module-item-titlebox">
							<a class="module-item-title" href="show.html" title="{{ .VodName }}">{{ .VodName }}</a>
						</div>
						<div class="module-item-text">{{ .VodRemarks }}</div>
					</div>
					{{end}}
				</div>
			</div>
		</div>
		<!--恐怖片-->
		
		<!--剧情片-->
		<div class="module module-bg">
			<div class="module-heading">
				<h2 class="module-title">
					<a href="/v/feature.html" title="剧情片">剧情片<span class="module-title-en">feature</span></a>
				</h2>
				<a class="more" href="/v/feature.html" title="更多">更多剧情片<i class="icon-arrow-right-o"></i></a>
			</div>
			<div class="module-list module-line-list">
				<div class="module-items">
					{{ range .DianYingData.listJuQingPian }}
					<div class="module-item">
						<div class="module-item-cover">
							<div class="module-item-pic">
								<a href="show.html" title="{{ .VodName }}">
									<i class="icon-play"></i>
								</a>
								<img alt="{{ .VodName }}"
									 class="lazy lazyloaded"
									 data-src="{{ .VodPic }}"
									 onerror="this.src='/statics/image/loading.png'"
									 src="/statics/image/loading.png">
								<div class="loading"></div>
							</div>
							<div class="module-item-caption">
								<span> {{ .VodYear }}</span>
								<span class="video-class">{{ .VodClass }}</span>
								<span>{{ .VodArea }}</span>
							</div>
							<div class="module-item-content">
								<div class="module-item-style video-name">
									<a href="show.html" title="{{ .VodName }}">{{ .VodName }}</a>
								</div>
								<div class="module-item-style video-tag">
									{{ $VodActorList := split .VodActor "," }}
									{{ range $index, $name := $VodActorList }}
									<a href="search.html" target="_blank">{{$name}}</a>&nbsp;
									{{ end }}
								</div>
								<div class="module-item-style video-text">
									{{ .VodContent }}
								</div>
							</div>
						</div>
						<div class="module-item-titlebox">
							<a class="module-item-title" href="show.html" title="{{ .VodName }}">{{ .VodName }}</a>
						</div>
						<div class="module-item-text">{{ .VodRemarks }}</div>
					</div>
					{{end}}
				</div>
			</div>
		</div>
		<!--剧情片-->
		
		
		<!--战争片-->
		<div class="module module-bg">
			<div class="module-heading">
				<h2 class="module-title"><a href="/v/war.html" title="战争片">战争片<span
						class="module-title-en">war</span></a></h2>
				<a class="more" href="/v/war.html" title="更多">更多战争片<i class="icon-arrow-right-o"></i></a></div>
			<div class="module-list module-line-list">
				<div class="module-items">
					{{ range .DianYingData.listZhanZhengPian }}
					<div class="module-item">
						<div class="module-item-cover">
							<div class="module-item-pic">
								<a href="show.html" title="{{ .VodName }}">
									<i class="icon-play"></i>
								</a>
								<img alt="{{ .VodName }}"
									 class="lazy lazyloaded"
									 data-src="{{ .VodPic }}"
									 onerror="this.src='/statics/image/loading.png'"
									 src="/statics/image/loading.png">
								<div class="loading"></div>
							</div>
							<div class="module-item-caption">
								<span> {{ .VodYear }}</span>
								<span class="video-class">{{ .VodClass }}</span>
								<span>{{ .VodArea }}</span>
							</div>
							<div class="module-item-content">
								<div class="module-item-style video-name">
									<a href="show.html" title="{{ .VodName }}">{{ .VodName }}</a>
								</div>
								<div class="module-item-style video-tag">
									{{ $VodActorList := split .VodActor "," }}
									{{ range $index, $name := $VodActorList }}
									<a href="search.html" target="_blank">{{$name}}</a>&nbsp;
									{{ end }}
								</div>
								<div class="module-item-style video-text">
									{{ .VodContent }}
								</div>
							</div>
						</div>
						<div class="module-item-titlebox">
							<a class="module-item-title" href="show.html" title="{{ .VodName }}">{{ .VodName }}</a>
						</div>
						<div class="module-item-text">{{ .VodRemarks }}</div>
					</div>
					{{end}}
				</div>
			</div>
		</div>
		<!--战争片-->
		
		
		<!--动画片-->
		<div class="module module-bg">
			<div class="module-heading">
				<h2 class="module-title">
					<a href="/v/cartoon.html" title="动画片">动画片<span class="module-title-en">cartoon</span></a>
				</h2>
				<a class="more" href="/v/cartoon.html" title="更多">更多动画片<i class="icon-arrow-right-o"></i></a>
			</div>
			<div class="module-list module-line-list">
				<div class="module-items">
					{{ range .DianYingData.listDongHuaPian }}
					<div class="module-item">
						<div class="module-item-cover">
							<div class="module-item-pic">
								<a href="show.html" title="{{ .VodName }}">
									<i class="icon-play"></i>
								</a>
								<img alt="{{ .VodName }}"
									 class="lazy lazyloaded"
									 data-src="{{ .VodPic }}"
									 onerror="this.src='/statics/image/loading.png'"
									 src="/statics/image/loading.png">
								<div class="loading"></div>
							</div>
							<div class="module-item-caption">
								<span> {{ .VodYear }}</span>
								<span class="video-class">{{ .VodClass }}</span>
								<span>{{ .VodArea }}</span>
							</div>
							<div class="module-item-content">
								<div class="module-item-style video-name">
									<a href="show.html" title="{{ .VodName }}">{{ .VodName }}</a>
								</div>
								<div class="module-item-style video-tag">
									{{ $VodActorList := split .VodActor "," }}
									{{ range $index, $name := $VodActorList }}
									<a href="search.html" target="_blank">{{$name}}</a>&nbsp;
									{{ end }}
								</div>
								<div class="module-item-style video-text">
									{{ .VodContent }}
								</div>
							</div>
						</div>
						<div class="module-item-titlebox">
							<a class="module-item-title" href="show.html" title="{{ .VodName }}">{{ .VodName }}</a>
						</div>
						<div class="module-item-text">{{ .VodRemarks }}</div>
					</div>
					{{end}}
				</div>
			</div>
		</div>
		<!--动画片-->
		
		<!--奇幻片-->
		<div class="module module-bg">
			<div class="module-heading">
				<h2 class="module-title">
					<a href="/v/qihuan.html" title="奇幻片">奇幻片<span class="module-title-en">qihuan</span></a>
				</h2>
				<a class="more" href="/v/qihuan.html" title="更多">更多奇幻片<i class="icon-arrow-right-o"></i></a>
			</div>
			<div class="module-list module-line-list">
				<div class="module-items">
					{{ range .DianYingData.listQiHuanPian }}
					<div class="module-item">
						<div class="module-item-cover">
							<div class="module-item-pic">
								<a href="show.html" title="{{ .VodName }}">
									<i class="icon-play"></i>
								</a>
								<img alt="{{ .VodName }}"
									 class="lazy lazyloaded"
									 data-src="{{ .VodPic }}"
									 onerror="this.src='/statics/image/loading.png'"
									 src="/statics/image/loading.png">
								<div class="loading"></div>
							</div>
							<div class="module-item-caption">
								<span> {{ .VodYear }}</span>
								<span class="video-class">{{ .VodClass }}</span>
								<span>{{ .VodArea }}</span>
							</div>
							<div class="module-item-content">
								<div class="module-item-style video-name">
									<a href="show.html" title="{{ .VodName }}">{{ .VodName }}</a>
								</div>
								<div class="module-item-style video-tag">
									{{ $VodActorList := split .VodActor "," }}
									{{ range $index, $name := $VodActorList }}
									<a href="search.html" target="_blank">{{$name}}</a>&nbsp;
									{{ end }}
								</div>
								<div class="module-item-style video-text">
									{{ .VodContent }}
								</div>
							</div>
						</div>
						<div class="module-item-titlebox">
							<a class="module-item-title" href="show.html" title="{{ .VodName }}">{{ .VodName }}</a>
						</div>
						<div class="module-item-text">{{ .VodRemarks }}</div>
					</div>
					{{end}}
				</div>
			</div>
		</div>
		<!--奇幻片-->
		
		<!--记录片-->
		<div class="module module-bg">
			<div class="module-heading">
				<h2 class="module-title">
					<a href="/v/jilupian.html" title="记录片">记录片<span class="module-title-en">jilupian</span></a>
				</h2>
				<a class="more" href="/v/jilupian.html" title="更多">更多记录片<i class="icon-arrow-right-o"></i></a>
			</div>
			<div class="module-list module-line-list">
				<div class="module-items">
					{{ range .DianYingData.listJiLuPian }}
					<div class="module-item">
						<div class="module-item-cover">
							<div class="module-item-pic">
								<a href="show.html" title="{{ .VodName }}">
									<i class="icon-play"></i>
								</a>
								<img alt="{{ .VodName }}"
									 class="lazy lazyloaded"
									 data-src="{{ .VodPic }}"
									 onerror="this.src='/statics/image/loading.png'"
									 src="/statics/image/loading.png">
								<div class="loading"></div>
							</div>
							<div class="module-item-caption">
								<span> {{ .VodYear }}</span>
								<span class="video-class">{{ .VodClass }}</span>
								<span>{{ .VodArea }}</span>
							</div>
							<div class="module-item-content">
								<div class="module-item-style video-name">
									<a href="show.html" title="{{ .VodName }}">{{ .VodName }}</a>
								</div>
								<div class="module-item-style video-tag">
									{{ $VodActorList := split .VodActor "," }}
									{{ range $index, $name := $VodActorList }}
									<a href="search.html" target="_blank">{{$name}}</a>&nbsp;
									{{ end }}
								</div>
								<div class="module-item-style video-text">
									{{ .VodContent }}
								</div>
							</div>
						</div>
						<div class="module-item-titlebox">
							<a class="module-item-title" href="show.html" title="{{ .VodName }}">{{ .VodName }}</a>
						</div>
						<div class="module-item-text">{{ .VodRemarks }}</div>
					</div>
					{{end}}
				</div>
			</div>
		</div>
		<!--记录片-->
		<!-- 有二级分类 -->
	
	
	</div>
	
	<div class="module-footer module-type">
		<a class="load-all" href="/pianku-dianying.html" title="全部电影">全部电影<i class="icon-arrow-right-o"></i></a>
	</div>
</main>

{{template "footer" .}}
{{template "popup" .}}
{{template "javascript" .}}
</body>
</html>
{{end}}
