{{ define "index.html" }}
{{template "html" .}}
<html lang="zh-CN">
<head>
    <title>电影先生</title>
    <meta name="keywords" content="电影先生,dianyi.ng,最新电影,电影大全,影视大全,在线电影,免费电影,电影在线观看,最新电视剧">
    <meta name="description" content="聚合全网影片，你想看的全都有！每天搜集互联网最新电影和电视剧，为广大用户免费提供无广告在线观看电影和电视剧服务，及时收录最新、最热、最全的电影大片,高清正版免费看。">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="always">
    <meta name="referrer" content="no-referrer">
    {{template "header" .}}
</head>
<body class="homepage">
<header id="header" class="wrapper">
    <div class="header-content ">
        <div class="dianyi-ng">
            <div class="header-logo">
                <h1 class="slogan">电影先生 DianYi.ng</h1>
                <div class="fixed-logo">
                    <a href="" class="logo" title="电影先生"><img src="{{.__STATIC__}}/image/index-logo-s.png" alt="电影先生"></a>
                </div>
            </div>
        </div>
        <div class="nav-search">
            <form action="/search.html" class="search-dh"></form>
        </div>

        <div class="nav">
            <ul class="nav-menu-items">
                <li class="nav-menu-item selected"><a href="" title="电影先生首页">
                <span>首页</span></a>
                </li>
                <li class="nav-menu-item"><a href="v/dianying.html" title="电影"><span>电影</span></a></li><li class="nav-menu-item"><a href="v/dianshiju.html" title="电视剧"><span>电视剧</span></a></li><li class="nav-menu-item"><a href="v/dongman.html" title="动漫"><span>动漫</span></a></li><li class="nav-menu-item"><a href="v/zongyi.html" title="综艺"><span>
		综艺</span></a></li><li class="nav-menu-item"><a href="arttype/zixun.html" title="资讯"><span>资讯</span></a></li><li class="nav-menu-item domain plus"><a href="web.html" title="电影先生最新域名"><span>网址</span><em>+</em></a></li><li class="nav-menu-item"><a href="label/app.html" title="下载电影先生APP"><i class="icon-app pc"></i><span>APP</span></a></li></ul>
        </div>
        <div class="header-module">
            <ul class="nav-menu-items">
                <li class="nav-menu-item drop"><span class="nav-menu-icon"><i class="icon-all"></i></span>
                    <div class="drop-content sub-block">
                        <div class="drop-content-box grid-box">
                            <ul class="drop-content-items grid-items">
                                <li class="grid-item">
                                    <a href=""><i class="icon-home"></i>
                                        <div class="grid-item-name" title="电影先生首页">首页</div>
                                    </a>
                                </li>
                                <li class="grid-item">
                                    <a href="v/dianying.html" title="电影">
                                        <i class="icon-cate-dy"></i> 										<div class="grid-item-name">电影</div>
                                    </a>
                                </li>
                                <li class="grid-item">
                                    <a href="v/dianshiju.html" title="电视剧">
                                        <i class="icon-cate-ds"></i> 										<div class="grid-item-name">电视剧</div>
                                    </a>
                                </li>
                                <li class="grid-item">
                                    <a href="v/dongman.html" title="动漫">
                                        <i class="icon-cate-dm"></i> 										<div class="grid-item-name">动漫</div>
                                    </a>
                                </li>
                                <li class="grid-item">
                                    <a href="v/zongyi.html" title="综艺">
                                        <i class="icon-cate-zy"></i> 										<div class="grid-item-name">综艺</div>
                                    </a>
                                </li>
                                <li class="grid-item">
                                    <a href="arttype/zixun.html" title="资讯">
                                        <i class="iconfont icon-zixun2"></i> 										<div class="grid-item-name">资讯</div>
                                    </a>
                                </li>
                                <li class="grid-item">
                                    <a href="web.html"><i class="icon-domain"></i>
                                        <div class="grid-item-name" title="网址">网址</div>
                                    </a>
                                </li>
                                <li class="grid-item grid-more">
                                    <a class="grid-more-link" href="pianku.html" title="查看全部影片">
                                        <div class="grid-item-name">全部影片</div>
                                    </a>
                                </li>
                                <li class="grid-item grid-more android">
                                    <a href="label/app.html" class="grid-more-link" title="下载电影先生APP">
                                        <div class="grid-item-name">下载客户端</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="shortcuts-mobile-overlay"></div>
                </li>
                <li class="nav-menu-item nav-menu-search"><i class="icon-search"></i></li>
                <li class="space-line-bold"></li>
                <li class="nav-menu-item drop"><span class="nav-menu-icon"><i class="icon-watch-history"></i></span>
                    <div class="drop-content drop-history">
                        <div class="drop-content-box">
                            <ul class="drop-content-items" id="history">
                                <li class="list-item list-item-title">
                                    <a href="" class="playlist historyclean"><i class="icon-clear"></i></a>
                                    <strong>我的观影记录</strong></li>
                            </ul>
                        </div>
                    </div>
                    <div class="shortcuts-mobile-overlay"></div>
                </li>
            </ul>
        </div>
    </div>
    <div id="search-content">
        <div class="index-logo"><span class="logo-s"><img src="{{.__STATIC__}}/image/logo.png" title="电影先生"></span></div>
        <form action="/search.html">
            <div class="search-main">
                <div class="search-box">
                    <input class="search-input ac_wd" id="txtKeywords" type="text" name="wd" autocomplete="off" placeholder="搜索电影、电视剧、综艺、动漫、演员">
                    <div class="search-drop">
                        <div class="drop-content-items ac_hot none">
                            <div class="list-item list-item-title"><strong>大家都在搜这些影片</strong></div>
                            <div class="search-tag">
                                <a href="search.html" class="hot "><i class="icon-hot"></i>一念关山</a>
                                <a href="search.html" class="hot "><i class="icon-hot"></i>神隐</a>
                                <a href="search.html" class="hot "><i class="icon-hot"></i>鸣龙少年</a>
                                <a href="search.html" class="hot "><i class="icon-hot"></i>南海归墟</a>
                                <a href="search.html" class=""><i class="icon-hot"></i>坚如磐石</a>
                                <a href="search.html" class=""><i class="icon-hot"></i>脱轨</a>
                                <a href="search.html" class=""><i class="icon-hot"></i>斗破苍穹之少年归来</a>
                                <a href="search.html" class=""><i class="icon-hot"></i>热烈</a>
                                <a href="search.html" class=""><i class="icon-hot"></i>涉过愤怒的海</a>
                                <a href="search.html" class=""><i class="icon-hot"></i>93国际列车大劫案：莫斯科行动</a>
                                <a href="search.html" class=""><i class="icon-hot"></i>志愿军：雄兵出击</a>
                            </div>
                        </div>
                    </div>
                    <a href="top.html" class="search-btn search-cupfox" id="search-cupfox" title="电影先生排行榜"><i class="icon-cupfox phb"></i><span>搜全网</span></a>					<button class="search-btn search-go" type="submit"><i class="icon-search"></i></button>
                    <button class="cancel-btn" type="button">取消</button>
                </div>
            </div>
        </form>
    </div>
</header>
<!-- 头部 -->
<div class="app-text">
    <a href="label/app.html"><i class="icon-download"></i>下载<strong>电影先生APP</strong>客户端</a>
    <div class="bg-ball">
    </div>
</div>
<main id="index-main" class="wrapper">
    <div class="content">

        <!-- 正在热播start -->
        <div class="module">
            <div class="module-heading">
                <h2 class="module-title"> 正在热播<span class="module-title-en">TRENDING</span></h2>
                <div class="module-sub-title">
                    <!---{maccms:vod num="5"  type="current" order="desc" by="hits_week" levels="1"}  -->
                </div>
                <span class="more nonemore">今日更新：<font color="#FF0000">“{{.INDEX_DATA.TodayCount}}”</font> 部</span>	</div>
            <div class="module-list module-lines-list">
                <div class="module-items">
                    {{ range .INDEX_DATA.CurrentlyTrending }}
                        <div class="module-item">
                        <div class="module-item-cover">
                            <div class="module-item-pic">
                                <a href="show.html" title="{{ .VodName }}">
                                    <i class="icon-play"></i>
                                </a>
                                <img class="lazy lazyloaded"
                                     data-src="{{ .VodPic }}"
                                     src="/statics/image/loading.png"
                                     onerror="javascript:this.src='/statics/image/loading.png'"
                                     alt="{{ .VodName }}">
                                <div class="loading"></div>
                            </div>
                            <div class="module-item-caption">
                                <span> {{ .VodYear }}</span>
                                <span class="video-class">{{ .VodClass }}</span>
                                <span>{{ .VodArea }}</span>
                            </div>
                            <div class="module-item-content">
                                <div class="module-item-style video-name">
                                    <a href="show.html" title="{{ .VodName }}">{{ .VodName }}</a>
                                </div>
                                <div class="module-item-style video-tag">
                                    {{ $VodActorList := split .VodActor "," }}
                                    {{ range $index, $name := $VodActorList }}
                                    <a href="search.html" target="_blank">{{$name}}</a>&nbsp;
                                    {{ end }}
                                </div>
                                <div class="module-item-style video-text">　　
                                    {{ .VodContent }}
                                </div>
                            </div>
                        </div>
                        <div class="module-item-titlebox">
                            <a href="show.html" class="module-item-title" title="{{ .VodName }}">{{ .VodName }}</a>
                        </div>
                        <div class="module-item-text">{{ .VodRemarks }}</div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
        <!-- 正在热播end -->

        <!-- 电影start -->
        <div class="module module-wrapper">
            <div class="module-main">
                <div class="module-heading">
                    <h2 class="module-title">
                        电影
                        <span class="module-title-en">dianying</span>
                    </h2>
                    <a class="more" href="v/dianying.html" title="更多电影">
                        更多电影
                        <i class="icon-arrow-right-o"></i>
                    </a>
                </div>
                <div class="module-list module-lines-list">
                    <div class="module-items">
                        {{ range .INDEX_DATA.listDianYing }}
                        <div class="module-item">
                            <div class="module-item-cover">
                                <div class="module-item-pic">
                                    <a href="show.html" title="{{ .VodName }}">
                                        <i class="icon-play"></i>
                                    </a>
                                    <img class="lazy lazyloaded" data-src="{{ .VodPic }}"
                                         src="/statics/image/loading.png"
                                         onerror="javascript:this.src='/statics/image/loading.png'" alt="{{ .VodName }}">
                                    <div class="loading"></div>
                                </div>
                                <div class="module-item-caption">
                                    <span> {{ .VodYear }}</span>
                                    <span class="video-class">{{ .VodClass }}</span>
                                    <span>{{ .VodArea }}</span>
                                </div>

                                <div class="module-item-content">
                                    <div class="module-item-style video-name">
                                        <a href="show.html" title="{{ .VodName }}">{{ .VodName }}</a>
                                    </div>
                                    <div class="module-item-style video-tag">
                                        {{ $VodActorList := split .VodActor "," }}
                                        {{ range $index, $name := $VodActorList }}
                                        <a href="search.html" target="_blank">{{$name}}</a>&nbsp;
                                        {{ end }}
                                    </div>
                                    <div class="module-item-style video-text">　　
                                        {{ .VodContent }}
                                    </div>
                                </div>
                            </div>
                            <div class="module-item-titlebox">
                                <a href="show.html" class="module-item-title" title="{{ .VodName }}">{{ .VodName }}</a>
                            </div>
                            <div class="module-item-text">{{ .VodRemarks }}</div>
                        </div>
                        {{end}}
                    </div>
                </div>
            </div>
            <div class="module-side">
                <div class="module-heading">
                    <h2 class="module-title">电影•月榜<span class="module-title-en">RANKING</span></h2>
                </div>
                <div class="module-side-list module-bg">
                    <div class="scroll-box">
                        <div class="module-textlist scroll-content">
                            {{ range $index,$value := .INDEX_DATA.MonthDianYing}}
                            <a href="show.html" class="text-list-item">
                                <div class="text-list-num top-main top-{{ add $index 1 }}">{{ add $index 1 }}</div>
                                <div class="text-list-title">
                                    <h3>{{ $value.VodName }}</h3>
                                    <p>{{ $value.VodRemarks }}</p>
                                </div>
                            </a>
                            {{end}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 电影end -->

        <!-- 电视剧start -->
        <div class="module module-wrapper">
            <div class="module-main">
                <div class="module-heading">
                    <h2 class="module-title">
                        电视剧
                        <span class="module-title-en">dianshiju</span>
                    </h2>
                    <a class="more" href="v/dianshiju.html" title="更多电视剧">
                        更多电视剧
                        <i class="icon-arrow-right-o"></i>
                    </a>
                </div>
                <div class="module-list module-lines-list">
                    <div class="module-items">
                        {{ range .INDEX_DATA.listDianShiJu }}
                        <div class="module-item">
                            <div class="module-item-cover">
                                <div class="module-item-pic">
                                    <a href="show.html" title="{{ .VodName }}">
                                        <i class="icon-play"></i>
                                    </a>
                                    <img class="lazy lazyloaded" data-src="{{ .VodPic }}"
                                         src="/statics/image/loading.png"
                                         onerror="javascript:this.src='/statics/image/loading.png'" alt="{{ .VodName }}">
                                    <div class="loading"></div>
                                </div>
                                <div class="module-item-caption">
                                    <span> {{ .VodYear }}</span>
                                    <span class="video-class">{{ .VodClass }}</span>
                                    <span>{{ .VodArea }}</span>
                                </div>

                                <div class="module-item-content">
                                    <div class="module-item-style video-name">
                                        <a href="show.html" title="{{ .VodName }}">{{ .VodName }}</a>
                                    </div>
                                    <div class="module-item-style video-tag">
                                        {{ $VodActorList := split .VodActor "," }}
                                        {{ range $index, $name := $VodActorList }}
                                        <a href="search.html" target="_blank">{{$name}}</a>&nbsp;
                                        {{ end }}
                                    </div>
                                    <div class="module-item-style video-text">　　
                                        {{ .VodContent }}
                                    </div>
                                </div>
                            </div>
                            <div class="module-item-titlebox">
                                <a href="show.html" class="module-item-title" title="{{ .VodName }}">{{ .VodName }}</a>
                            </div>
                            <div class="module-item-text">{{ .VodRemarks }}</div>
                        </div>
                        {{end}}
                    </div>
                </div>
            </div>
            <div class="module-side">
                <div class="module-heading">
                    <h2 class="module-title">电视剧•月榜<span class="module-title-en">RANKING</span></h2>
                </div>
                <div class="module-side-list module-bg">
                    <div class="scroll-box">
                        <div class="module-textlist scroll-content">
                            {{ range $index,$value := .INDEX_DATA.MonthDianShiJu}}
                            <a href="show.html" class="text-list-item">
                                <div class="text-list-num top-main top-{{ add $index 1 }}">{{ add $index 1 }}</div>
                                <div class="text-list-title">
                                    <h3>{{ $value.VodName }}</h3>
                                    <p>{{ $value.VodRemarks }}</p>
                                </div>
                            </a>
                            {{end}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 电视剧end -->

        <!-- 动漫start -->
        <div class="module module-wrapper">
            <div class="module-main">
                <div class="module-heading">
                    <h2 class="module-title">
                        动漫
                        <span class="module-title-en">dongman</span>
                    </h2>
                    <a class="more" href="v/dongman.html" title="更多动漫">
                        更多动漫
                        <i class="icon-arrow-right-o"></i>
                    </a>
                </div>
                <div class="module-list module-lines-list">
                    <div class="module-items">
                        {{ range .INDEX_DATA.listDongMan }}
                        <div class="module-item">
                            <div class="module-item-cover">
                                <div class="module-item-pic">
                                    <a href="show.html" title="{{ .VodName }}">
                                        <i class="icon-play"></i>
                                    </a>
                                    <img class="lazy lazyloaded" data-src="{{ .VodPic }}"
                                         src="/statics/image/loading.png"
                                         onerror="javascript:this.src='/statics/image/loading.png'" alt="{{ .VodName }}">
                                    <div class="loading"></div>
                                </div>
                                <div class="module-item-caption">
                                    <span> {{ .VodYear }}</span>
                                    <span class="video-class">{{ .VodClass }}</span>
                                    <span>{{ .VodArea }}</span>
                                </div>

                                <div class="module-item-content">
                                    <div class="module-item-style video-name">
                                        <a href="show.html" title="{{ .VodName }}">{{ .VodName }}</a>
                                    </div>
                                    <div class="module-item-style video-tag">
                                        {{ $VodActorList := split .VodActor "," }}
                                        {{ range $index, $name := $VodActorList }}
                                        <a href="search.html" target="_blank">{{$name}}</a>&nbsp;
                                        {{ end }}
                                    </div>
                                    <div class="module-item-style video-text">　　
                                        {{ .VodContent }}
                                    </div>
                                </div>
                            </div>
                            <div class="module-item-titlebox">
                                <a href="show.html" class="module-item-title" title="{{ .VodName }}">{{ .VodName }}</a>
                            </div>
                            <div class="module-item-text">{{ .VodRemarks }}</div>
                        </div>
                        {{end}}
                    </div>
                </div>
            </div>
            <div class="module-side">
                <div class="module-heading">
                    <h2 class="module-title">动漫•月榜<span class="module-title-en">RANKING</span></h2>
                </div>
                <div class="module-side-list module-bg">
                    <div class="scroll-box">
                        <div class="module-textlist scroll-content">
                            {{ range $index,$value := .INDEX_DATA.MonthDongMan}}
                            <a href="show.html" class="text-list-item">
                                <div class="text-list-num top-main top-{{ add $index 1 }}">{{ add $index 1 }}</div>
                                <div class="text-list-title">
                                    <h3>{{ $value.VodName }}</h3>
                                    <p>{{ $value.VodRemarks }}</p>
                                </div>
                            </a>
                            {{end}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 动漫end -->

        <!-- 综艺start -->
        <div class="module module-wrapper">
            <div class="module-main">
                <div class="module-heading">
                    <h2 class="module-title">
                        综艺         <span class="module-title-en">zongyi</span>
                    </h2>
                    <a class="more" href="v/zongyi.html" title="更多综艺">
                        更多综艺		<i class="icon-arrow-right-o"></i>
                    </a>
                </div>
                <div class="module-list module-lines-list">
                    <div class="module-items">
                        {{ range .INDEX_DATA.listZongYi }}
                        <div class="module-item">
                            <div class="module-item-cover">
                                <div class="module-item-pic">
                                    <a href="show.html" title="{{ .VodName }}">
                                        <i class="icon-play"></i>
                                    </a>
                                    <img class="lazy lazyloaded" data-src="{{ .VodPic }}"
                                         src="/statics/image/loading.png"
                                         onerror="javascript:this.src='/statics/image/loading.png'" alt="{{ .VodName }}">
                                    <div class="loading"></div>
                                </div>
                                <div class="module-item-caption">
                                    <span> {{ .VodYear }}</span>
                                    <span class="video-class">{{ .VodClass }}</span>
                                    <span>{{ .VodArea }}</span>
                                </div>

                                <div class="module-item-content">
                                    <div class="module-item-style video-name">
                                        <a href="show.html" title="{{ .VodName }}">{{ .VodName }}</a>
                                    </div>
                                    <div class="module-item-style video-tag">
                                        {{ $VodActorList := split .VodActor "," }}
                                        {{ range $index, $name := $VodActorList }}
                                        <a href="search.html" target="_blank">{{$name}}</a>&nbsp;
                                        {{ end }}
                                    </div>
                                    <div class="module-item-style video-text">　　
                                        {{ .VodContent }}
                                    </div>
                                </div>
                            </div>
                            <div class="module-item-titlebox">
                                <a href="show.html" class="module-item-title" title="{{ .VodName }}">{{ .VodName }}</a>
                            </div>
                            <div class="module-item-text">{{ .VodRemarks }}</div>
                        </div>
                        {{end}}
                    </div>
                </div>
            </div>
            <div class="module-side">
                <div class="module-heading">
                    <h2 class="module-title">综艺•月榜<span class="module-title-en">RANKING</span></h2>
                </div>
                <div class="module-side-list module-bg">
                    <div class="scroll-box">
                        <div class="module-textlist scroll-content">
                            {{ range $index,$value := .INDEX_DATA.MonthZongYi}}
                            <a href="show.html" class="text-list-item">
                                <div class="text-list-num top-main top-{{ add $index 1 }}">{{ add $index 1 }}</div>
                                <div class="text-list-title">
                                    <h3>{{ $value.VodName }}</h3>
                                    <p>{{ $value.VodRemarks }}</p>
                                </div>
                            </a>
                            {{end}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 综艺end -->


        <!-- 列表 -->

        <div class="module">
            <div class="module-heading">
                <h2 class="module-title"> 最新影片<span class="module-title-en">Latest</span></h2>
                <div class="module-tab">
                    <input type="hidden" name="tab" id="tab" class="module-tab-input">
                    <label class="module-tab-name"><span class="module-tab-value">全部</span><i class="icon-arrow-bottom"></i></label>
                    <div class="module-tab-items">
                        <div class="module-tab-title">选择类型<span class="close-drop"><i class="icon-close-o"></i></span></div>
                        <div>
                            <span class="module-tab-item tab-item selected" data-dropdown-value="全部">全部</span>

                            <span class="module-tab-item tab-item" data-dropdown-value="电影">电影</span>

                            <span class="module-tab-item tab-item" data-dropdown-value="电视剧">电视剧</span>

                            <span class="module-tab-item tab-item" data-dropdown-value="动漫">动漫</span>

                            <span class="module-tab-item tab-item" data-dropdown-value="综艺">综艺</span>

                        </div>
                    </div>
                </div>
                <div class="shortcuts-mobile-overlay"></div>
            </div>
            <div>
                <div class="module-list module-line-list tab-list selected">
                    <div class="module-items scroll-box">
                        <div class="scroll-content">
                            {{range .INDEX_DATA.listNewVideos.NewsAll}}
                            <div class="module-item">
                                <div class="module-item-cover">
                                    <div class="module-item-pic">
                                        <a href="show.html" title="{{ .VodName }}">
                                            <i class="icon-play"></i>
                                        </a>
                                        <img class="lazy lazyloaded" data-src="{{ .VodPic }}"
                                             src="/statics/image/loading.png"
                                             onerror="javascript:this.src='/statics/image/loading.png'" alt="{{ .VodName }}">
                                        <div class="loading"></div>
                                    </div>
                                    <div class="module-item-caption">
                                        <span> {{ .VodYear }}</span>
                                        <span class="video-class">{{ .VodClass }}</span>
                                        <span>{{ .VodArea }}</span>
                                    </div>

                                    <div class="module-item-content">
                                        <div class="module-item-style video-name">
                                            <a href="show.html" title="{{ .VodName }}">{{ .VodName }}</a>
                                        </div>
                                        <div class="module-item-style video-tag">
                                            {{ $VodActorList := split .VodActor "," }}
                                            {{ range $index, $name := $VodActorList }}
                                            <a href="search.html" target="_blank">{{$name}}</a>&nbsp;
                                            {{ end }}
                                        </div>
                                        <div class="module-item-style video-text">　　
                                            {{ .VodContent }}
                                        </div>
                                    </div>
                                </div>
                                <div class="module-item-titlebox">
                                    <a href="show.html" class="module-item-title" title="{{ .VodName }}">{{ .VodName }}</a>
                                </div>
                                <div class="module-item-text">{{ .VodRemarks }}</div>
                            </div>
                            {{end}}
                        </div>
                    </div>
                    <div class="module-footer">
                        <a href="pianku.html" class="load-all" title="更多">查看更多<i class="icon-arrow-right-o"></i></a>
                    </div>
                </div>

                <div class="module-list module-line-list tab-list">
                    <div class="module-items scroll-box">
                        <div class="scroll-content">
                            {{range .INDEX_DATA.listNewVideos.NewsVideos}}
                            <div class="module-item">
                                <div class="module-item-cover">
                                    <div class="module-item-pic">
                                        <a href="show.html" title="{{ .VodName }}">
                                            <i class="icon-play"></i>
                                        </a>
                                        <img class="lazy lazyloaded" data-src="{{ .VodPic }}"
                                             src="/statics/image/loading.png"
                                             onerror="javascript:this.src='/statics/image/loading.png'" alt="{{ .VodName }}">
                                        <div class="loading"></div>
                                    </div>
                                    <div class="module-item-caption">
                                        <span> {{ .VodYear }}</span>
                                        <span class="video-class">{{ .VodClass }}</span>
                                        <span>{{ .VodArea }}</span>
                                    </div>

                                    <div class="module-item-content">
                                        <div class="module-item-style video-name">
                                            <a href="show.html" title="{{ .VodName }}">{{ .VodName }}</a>
                                        </div>
                                        <div class="module-item-style video-tag">
                                            {{ $VodActorList := split .VodActor "," }}
                                            {{ range $index, $name := $VodActorList }}
                                            <a href="search.html" target="_blank">{{$name}}</a>&nbsp;
                                            {{ end }}
                                        </div>
                                        <div class="module-item-style video-text">　　
                                            {{ .VodContent }}
                                        </div>
                                    </div>
                                </div>
                                <div class="module-item-titlebox">
                                    <a href="show.html" class="module-item-title" title="{{ .VodName }}">{{ .VodName }}</a>
                                </div>
                                <div class="module-item-text">{{ .VodRemarks }}</div>
                            </div>
                            {{end}}
                        </div>
                    </div>
                    <div class="module-footer">
                        <a href="v/dianying.html" class="load-all" title="查看更多电影">更多电影<i class="icon-arrow-right-o"></i></a>
                    </div>
                </div>

                <div class="module-list module-line-list tab-list">
                    <div class="module-items scroll-box">
                        <div class="scroll-content">
                            {{range .INDEX_DATA.listNewVideos.NewsDianShiJu}}
                            <div class="module-item">
                                <div class="module-item-cover">
                                    <div class="module-item-pic">
                                        <a href="show.html" title="{{ .VodName }}">
                                            <i class="icon-play"></i>
                                        </a>
                                        <img class="lazy lazyloaded" data-src="{{ .VodPic }}"
                                             src="/statics/image/loading.png"
                                             onerror="javascript:this.src='/statics/image/loading.png'" alt="{{ .VodName }}">
                                        <div class="loading"></div>
                                    </div>
                                    <div class="module-item-caption">
                                        <span> {{ .VodYear }}</span>
                                        <span class="video-class">{{ .VodClass }}</span>
                                        <span>{{ .VodArea }}</span>
                                    </div>

                                    <div class="module-item-content">
                                        <div class="module-item-style video-name">
                                            <a href="show.html" title="{{ .VodName }}">{{ .VodName }}</a>
                                        </div>
                                        <div class="module-item-style video-tag">
                                            {{ $VodActorList := split .VodActor "," }}
                                            {{ range $index, $name := $VodActorList }}
                                            <a href="search.html" target="_blank">{{$name}}</a>&nbsp;
                                            {{ end }}
                                        </div>
                                        <div class="module-item-style video-text">　　
                                            {{ .VodContent }}
                                        </div>
                                    </div>
                                </div>
                                <div class="module-item-titlebox">
                                    <a href="show.html" class="module-item-title" title="{{ .VodName }}">{{ .VodName }}</a>
                                </div>
                                <div class="module-item-text">{{ .VodRemarks }}</div>
                            </div>
                            {{end}}
                        </div>
                    </div>
                    <div class="module-footer">
                        <a href="v/dianshiju.html" class="load-all" title="查看更多电视剧">更多电视剧<i class="icon-arrow-right-o"></i></a>
                    </div>
                </div>

                <div class="module-list module-line-list tab-list">
                    <div class="module-items scroll-box">
                        <div class="scroll-content">
                            {{range .INDEX_DATA.listNewVideos.NewsDongMan}}
                            <div class="module-item">
                                <div class="module-item-cover">
                                    <div class="module-item-pic">
                                        <a href="show.html" title="{{ .VodName }}">
                                            <i class="icon-play"></i>
                                        </a>
                                        <img class="lazy lazyloaded" data-src="{{ .VodPic }}"
                                             src="/statics/image/loading.png"
                                             onerror="javascript:this.src='/statics/image/loading.png'" alt="{{ .VodName }}">
                                        <div class="loading"></div>
                                    </div>
                                    <div class="module-item-caption">
                                        <span> {{ .VodYear }}</span>
                                        <span class="video-class">{{ .VodClass }}</span>
                                        <span>{{ .VodArea }}</span>
                                    </div>

                                    <div class="module-item-content">
                                        <div class="module-item-style video-name">
                                            <a href="show.html" title="{{ .VodName }}">{{ .VodName }}</a>
                                        </div>
                                        <div class="module-item-style video-tag">
                                            {{ $VodActorList := split .VodActor "," }}
                                            {{ range $index, $name := $VodActorList }}
                                            <a href="search.html" target="_blank">{{$name}}</a>&nbsp;
                                            {{ end }}
                                        </div>
                                        <div class="module-item-style video-text">　　
                                            {{ .VodContent }}
                                        </div>
                                    </div>
                                </div>
                                <div class="module-item-titlebox">
                                    <a href="show.html" class="module-item-title" title="{{ .VodName }}">{{ .VodName }}</a>
                                </div>
                                <div class="module-item-text">{{ .VodRemarks }}</div>
                            </div>
                            {{end}}
                        </div>
                    </div>
                    <div class="module-footer">
                        <a href="v/dongman.html" class="load-all" title="查看更多动漫">更多动漫<i class="icon-arrow-right-o"></i></a>
                    </div>
                </div>

                <div class="module-list module-line-list tab-list">
                    <div class="module-items scroll-box">
                        <div class="scroll-content">
                            {{range .INDEX_DATA.listNewVideos.NewsZongYi}}
                            <div class="module-item">
                                <div class="module-item-cover">
                                    <div class="module-item-pic">
                                        <a href="show.html" title="{{ .VodName }}">
                                            <i class="icon-play"></i>
                                        </a>
                                        <img class="lazy lazyloaded" data-src="{{ .VodPic }}"
                                             src="/statics/image/loading.png"
                                             onerror="javascript:this.src='/statics/image/loading.png'" alt="{{ .VodName }}">
                                        <div class="loading"></div>
                                    </div>
                                    <div class="module-item-caption">
                                        <span> {{ .VodYear }}</span>
                                        <span class="video-class">{{ .VodClass }}</span>
                                        <span>{{ .VodArea }}</span>
                                    </div>

                                    <div class="module-item-content">
                                        <div class="module-item-style video-name">
                                            <a href="show.html" title="{{ .VodName }}">{{ .VodName }}</a>
                                        </div>
                                        <div class="module-item-style video-tag">
                                            {{ $VodActorList := split .VodActor "," }}
                                            {{ range $index, $name := $VodActorList }}
                                            <a href="search.html" target="_blank">{{$name}}</a>&nbsp;
                                            {{ end }}
                                        </div>
                                        <div class="module-item-style video-text">　　
                                            {{ .VodContent }}
                                        </div>
                                    </div>
                                </div>
                                <div class="module-item-titlebox">
                                    <a href="show.html" class="module-item-title" title="{{ .VodName }}">{{ .VodName }}</a>
                                </div>
                                <div class="module-item-text">{{ .VodRemarks }}</div>
                            </div>
                            {{end}}
                        </div>
                    </div>
                    <div class="module-footer">
                        <a href="v/zongyi.html" class="load-all" title="查看更多综艺">更多综艺<i class="icon-arrow-right-o"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- 最新影片 -->
    </div>
</main>
<div id="friendlink" class="wrapper hidden-xs">
    <div class="content">
        <h2>友情链接：</h2>
        <a href="https://i.xianshe.ng" target="_blank" title="先生网">先生网</a>
        <a href="https://aiqi.ng" target="_blank" title="爱情先生">爱情先生</a>
        <a href="https://kans.hu" target="_blank" title="看书先生">看书先生</a>
        <a href="https://" target="_blank" title="乐音先生">乐音先生</a>
        <a href=" https://youm.in" target="_blank" title="游民先生">游民先生</a>
    </div>
</div> <!-- 友情链接 -->

<footer id="footer" class="wrapper pd60">
    <p class="sitemap"><img src="{{.__STATIC__}}/picture/logo.png" height="10">
        <a target="_blank" href="/about.html">关于</a><span class="space-line-bold"></span>
        <a target="_blank" href="top.html">排行榜</a><span class="space-line-bold"></span>
        <a target="_blank" href="/map.html">MAP</a><span class="space-line-bold"></span>
        <a target="_blank" href="/rss.xml">RSS</a><span class="space-line-bold"></span>
        <a target="_blank" href="/rss/baidu.xml">Baidu</a><span class="space-line-bold"></span>
        <a target="_blank" href="/rss/google.xml">Google</a><span class="space-line-bold"></span>
        <a target="_blank" href="/rss/bing.xml">Bing</a><span class="space-line-bold"></span>
        <a target="_blank" href="/rss/so.xml">SO</a><span class="space-line-bold"></span>
        <a target="_blank" href="/rss/sogou.xml">Sogou</a><span class="space-line-bold"></span>
        <a target="_blank" href="/rss/sm.xml">SM</a>
    </p>
    <p>本站所有内容均来自互联网分享站点所提供的公开引用资源，未提供影视资源上传、存储服务。</p>
</footer>


<div class="fixed_right_bar">
    <div class="mx-lrmenu">
        <div class="ant-back-top dbicon" style="display:none;">
            <i class="iconfont icon-a-zhiding5"></i>
        </div>
        <div class="dbicon">
            <a id="numerous" href="#" style="color: #ffffff; font-weight: bold;" title="切換到繁體中文">繁</a>
        </div>
        <div class="dbicon" id="clothes" onclick="clothesChange();">

            <i class="iconfont icon-a-yejian2"></i>
        </div>
        <div class="dbicon ly">
            <a href="/gbook.html"><i class="iconfont icon-a-pinglun"></i></a>
        </div>
        <div class="dbicon">
            <a href="/topic.html"><i class="iconfont icon-zhuanti-2"></i></a>
        </div>
    </div>
    <div class="moremeum">
        <i class="iconfont icon-a-gengduo1"></i>
    </div>
</div>
<div class="mxonefoot">
    <a class="item" href="">
        <i class="icon-home size20"></i>
        <div class="grid-item-name" title="电影先生首页">首页</div>
    </a>

    <a class="item" href="v/dianying.html">
        <i class="size20 icon-cate-dy"></i>
        <div class="grid-item-name">电影</div>
    </a>

    <a class="item" href="v/dianshiju.html">
        <i class="size20 icon-cate-ds"></i>
        <div class="grid-item-name">电视剧</div>
    </a>

    <a class="item" href="v/dongman.html">
        <i class="size20 icon-cate-dm"></i>
        <div class="grid-item-name">动漫</div>
    </a>

    <a class="item" href="v/zongyi.html">
        <i class="size20 icon-cate-zy"></i>
        <div class="grid-item-name">综艺</div>
    </a>

    <a class="item" href="arttype/zixun.html">
        <i class="size20 iconfont icon-zixun2"></i>
        <div class="grid-item-name">资讯</div>
    </a>
</div>

<div class="popup" id="note" style="display:none;">
    <div class="popup popup-ts open">
        <div class="popup-header">
            <h3 class="popup-title">公告内容</h3>
        </div>
        <div class="popup-main">
            <p>哇！电影先生终于等到您啦！恭喜您开启了一个影视宝库！打今儿起，咱想看啥就看啥！让您不再错过任何一部优秀影片！</p><p class="popup-domain"><span>.NG 域名</span><strong><a href="" target="_blank">DianYi<em>.ng</em></a></strong></p><p class="popup-domain"><span>.NG 域名</span><strong><a href="https://dianying.xianshe.ng" target="_blank">DY.XianShe<em>.ng</em></a></strong></p><p class="popup-domain"><span>.COM 域名</span><strong><a href="https://xn--44qz85a01qpc.com" target="_blank">电影先生<em>.com</em></a></strong></p><p>将以上域名加入浏览器收藏夹，回家更方便。点此 <a href="web.html" target="_blank" class="close-pop"><strong>获取电影先生最新域名</strong></a>。</p>	</div>
        <div class="popup-footer"><span class="popup-btn-o" onclick="closeclick()">我记住啦</span>
            <div class="article-bg"></div><div class="article-bg01"></div></div> <!-- 弹窗公告-->

        <div class="popup popup-notice none">
            <div class="popup-icon"><img src="{{.__STATIC__}}/picture/backhome.svg"></div>
            <div class="popup-header">
                <h3 class="popup-title">官方域名列表</h3></div>
            <div class="popup-main">
                <p>
                <p>目前网络上出现了许多山寨电影先生的网站，以下是电影先生官方域名，请认准并保存，以防上当受骗。</p>
                <p>-			<a><strong>DianYi.ng</strong></a><br>
                    -			<a><strong>Www.DianYi.ng</strong></a><br>
                    -			<a><strong>电影先生.Com</strong></a><br>
                    -			<a><strong>DianYing.XianShe.ng</strong></a><br>
                </p>
            </div>
            <div class="popup-footer">
                <a href="web.html" class="popup-btn-o">查看全部域名</a>
            </div>
            <div class="close-popup" id="close-popup"><i class="icon-close-o"></i></div>
        </div>
        <!-- 网址-->
        <div class="shortcuts-mobile-overlay"></div>
        <!-- 底部广告位 -->
        <!-- 底部-->
    </div>
</div>
{{template "javascript" .}}
</body>
</html>
{{end}}
