{{ define "index.html" }}
{{template "head" .}}
<body class="homepage">
{{template "header" .}}
<!-- 头部 -->
<div class="app-text">
	<a href="label/app.html"><i class="icon-download"></i>下载<strong>电影先生APP</strong>客户端</a>
	<div class="bg-ball">
	</div>
</div>
<main id="index-main" class="wrapper">
	<div class="content">
		
		<!-- 正在热播start -->
		<div class="module">
			<div class="module-heading">
				<h2 class="module-title"> 正在热播<span class="module-title-en">TRENDING</span></h2>
				<div class="module-sub-title">
					<!---{maccms:vod num="5"  type="current" order="desc" by="hits_week" levels="1"}  -->
				</div>
				<span class="more nonemore">今日更新：<font color="#FF0000">“{{.PageData.TodayCount}}”</font> 部</span>
			</div>
			<div class="module-list module-lines-list">
				<div class="module-items">
					{{ range .PageData.CurrentlyTrending }}
					<div class="module-item">
						<div class="module-item-cover">
							<div class="module-item-pic">
								<a href="show-{{ EncryptID .VodID }}.html" title="{{ .VodName }}">
									<i class="icon-play"></i>
								</a>
								<img alt="{{ .VodName }}"
									 class="lazy lazyloaded"
									 data-src="{{ .VodPic }}"
									 onerror="this.src='/statics/image/loading.png'"
									 src="/statics/image/loading.png">
								<div class="loading"></div>
							</div>
							<div class="module-item-caption">
								<span> {{ .VodYear }}</span>
								<span class="video-class">{{ TypeName $.PageData.listMacType .TypeID }}</span>
								<span>{{ .VodArea }}</span>
							</div>
							<div class="module-item-content">
								<div class="module-item-style video-name">
									<a href="show-{{ EncryptID .VodID }}.html" title="{{ .VodName }}">{{ .VodName }}</a>
								</div>
								<div class="module-item-style video-tag">
									{{ $VodActorList := split .VodActor "," }}
									{{ range $index, $name := $VodActorList }}
									<a href="search.html" target="_blank">{{$name}}</a>&nbsp;
									{{ end }}
								</div>
								<div class="module-item-style video-text">　　
																		  {{ raw .VodContent }}
								</div>
							</div>
						</div>
						<div class="module-item-titlebox">
							<a class="module-item-title" href="show-{{ EncryptID .VodID }}.html" title="{{ .VodName }}">{{ .VodName }}</a>
						</div>
						<div class="module-item-text">{{ .VodRemarks }}</div>
					</div>
					{{ end }}
				</div>
			</div>
		</div>
		<!-- 正在热播end -->
		
		<!-- 电影start -->
		<div class="module module-wrapper">
			<div class="module-main">
				<div class="module-heading">
					<h2 class="module-title">
						电影
						<span class="module-title-en">dianying</span>
					</h2>
					<a class="more" href="v/dianying.html" title="更多电影">
						更多电影
						<i class="icon-arrow-right-o"></i>
					</a>
				</div>
				<div class="module-list module-lines-list">
					<div class="module-items">
						{{ range .PageData.listDianYing }}
						<div class="module-item">
							<div class="module-item-cover">
								<div class="module-item-pic">
									<a href="show-{{ EncryptID .VodID }}.html" title="{{ .VodName }}">
										<i class="icon-play"></i>
									</a>
									<img alt="{{ .VodName }}" class="lazy lazyloaded"
										 data-src="{{ .VodPic }}"
										 onerror="this.src='/statics/image/loading.png'"
										 src="/statics/image/loading.png">
									<div class="loading"></div>
								</div>
								<div class="module-item-caption">
									<span> {{ .VodYear }}</span>
									<span class="video-class">{{ TypeName $.PageData.listMacType .TypeID }}</span>
									<span>{{ .VodArea }}</span>
								</div>
								
								<div class="module-item-content">
									<div class="module-item-style video-name">
										<a href="show-{{ EncryptID .VodID }}.html" title="{{ .VodName }}">{{ .VodName }}</a>
									</div>
									<div class="module-item-style video-tag">
										{{ $VodActorList := split .VodActor "," }}
										{{ range $index, $name := $VodActorList }}
										<a href="search.html" target="_blank">{{$name}}</a>&nbsp;
										{{ end }}
									</div>
									<div class="module-item-style video-text">　　
																			  {{ raw .VodContent }}
									</div>
								</div>
							</div>
							<div class="module-item-titlebox">
								<a class="module-item-title" href="show-{{ EncryptID .VodID }}.html" title="{{ .VodName }}">{{ .VodName }}</a>
							</div>
							<div class="module-item-text">{{ .VodRemarks }}</div>
						</div>
						{{end}}
					</div>
				</div>
			</div>
			<div class="module-side">
				<div class="module-heading">
					<h2 class="module-title">电影•月榜<span class="module-title-en">RANKING</span></h2>
				</div>
				<div class="module-side-list module-bg">
					<div class="scroll-box">
						<div class="module-textlist scroll-content">
							{{ range $index,$value := .PageData.MonthDianYing}}
							<a class="text-list-item" href="show-{{ EncryptID $value.VodID }}.html">
								<div class="text-list-num top-main top-{{ add $index 1 }}">{{ add $index 1 }}</div>
								<div class="text-list-title">
									<h3>{{ $value.VodName }}</h3>
									<p>{{ $value.VodRemarks }}</p>
								</div>
							</a>
							{{end}}
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 电影end -->
		
		<!-- 电视剧start -->
		<div class="module module-wrapper">
			<div class="module-main">
				<div class="module-heading">
					<h2 class="module-title">
						电视剧
						<span class="module-title-en">dianshiju</span>
					</h2>
					<a class="more" href="v/dianshiju.html" title="更多电视剧">
						更多电视剧
						<i class="icon-arrow-right-o"></i>
					</a>
				</div>
				<div class="module-list module-lines-list">
					<div class="module-items">
						{{ range .PageData.listDianShiJu }}
						<div class="module-item">
							<div class="module-item-cover">
								<div class="module-item-pic">
									<a href="show-{{ EncryptID .VodID }}.html" title="{{ .VodName }}">
										<i class="icon-play"></i>
									</a>
									<img alt="{{ .VodName }}" class="lazy lazyloaded"
										 data-src="{{ .VodPic }}"
										 onerror="this.src='/statics/image/loading.png'"
										 src="/statics/image/loading.png">
									<div class="loading"></div>
								</div>
								<div class="module-item-caption">
									<span> {{ .VodYear }}</span>
									<span class="video-class">{{ TypeName $.PageData.listMacType .TypeID }}</span>
									<span>{{ .VodArea }}</span>
								</div>
								
								<div class="module-item-content">
									<div class="module-item-style video-name">
										<a href="show-{{ EncryptID .VodID }}.html" title="{{ .VodName }}">{{ .VodName }}</a>
									</div>
									<div class="module-item-style video-tag">
										{{ $VodActorList := split .VodActor "," }}
										{{ range $index, $name := $VodActorList }}
										<a href="search.html" target="_blank">{{$name}}</a>&nbsp;
										{{ end }}
									</div>
									<div class="module-item-style video-text">　　
																			  {{ raw .VodContent }}
									</div>
								</div>
							</div>
							<div class="module-item-titlebox">
								<a class="module-item-title" href="show-{{ EncryptID .VodID }}.html" title="{{ .VodName }}">{{ .VodName }}</a>
							</div>
							<div class="module-item-text">{{ .VodRemarks }}</div>
						</div>
						{{end}}
					</div>
				</div>
			</div>
			<div class="module-side">
				<div class="module-heading">
					<h2 class="module-title">电视剧•月榜<span class="module-title-en">RANKING</span></h2>
				</div>
				<div class="module-side-list module-bg">
					<div class="scroll-box">
						<div class="module-textlist scroll-content">
							{{ range $index,$value := .PageData.MonthDianShiJu}}
							<a class="text-list-item" href="show-{{ EncryptID $value.VodID }}.html">
								<div class="text-list-num top-main top-{{ add $index 1 }}">{{ add $index 1 }}</div>
								<div class="text-list-title">
									<h3>{{ $value.VodName }}</h3>
									<p>{{ $value.VodRemarks }}</p>
								</div>
							</a>
							{{end}}
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 电视剧end -->
		
		<!-- 动漫start -->
		<div class="module module-wrapper">
			<div class="module-main">
				<div class="module-heading">
					<h2 class="module-title">
						动漫
						<span class="module-title-en">dongman</span>
					</h2>
					<a class="more" href="v/dongman.html" title="更多动漫">
						更多动漫
						<i class="icon-arrow-right-o"></i>
					</a>
				</div>
				<div class="module-list module-lines-list">
					<div class="module-items">
						{{ range .PageData.listDongMan }}
						<div class="module-item">
							<div class="module-item-cover">
								<div class="module-item-pic">
									<a href="show-{{ EncryptID .VodID }}.html" title="{{ .VodName }}">
										<i class="icon-play"></i>
									</a>
									<img alt="{{ .VodName }}" class="lazy lazyloaded"
										 data-src="{{ .VodPic }}"
										 onerror="this.src='/statics/image/loading.png'"
										 src="/statics/image/loading.png">
									<div class="loading"></div>
								</div>
								<div class="module-item-caption">
									<span> {{ .VodYear }}</span>
									<span class="video-class">{{ TypeName $.PageData.listMacType .TypeID }}</span>
									<span>{{ .VodArea }}</span>
								</div>
								
								<div class="module-item-content">
									<div class="module-item-style video-name">
										<a href="show-{{ EncryptID .VodID }}.html" title="{{ .VodName }}">{{ .VodName }}</a>
									</div>
									<div class="module-item-style video-tag">
										{{ $VodActorList := split .VodActor "," }}
										{{ range $index, $name := $VodActorList }}
										<a href="search.html" target="_blank">{{$name}}</a>&nbsp;
										{{ end }}
									</div>
									<div class="module-item-style video-text">　　
																			  {{ raw .VodContent }}
									</div>
								</div>
							</div>
							<div class="module-item-titlebox">
								<a class="module-item-title" href="show-{{ EncryptID .VodID }}.html" title="{{ .VodName }}">{{ .VodName }}</a>
							</div>
							<div class="module-item-text">{{ .VodRemarks }}</div>
						</div>
						{{end}}
					</div>
				</div>
			</div>
			<div class="module-side">
				<div class="module-heading">
					<h2 class="module-title">动漫•月榜<span class="module-title-en">RANKING</span></h2>
				</div>
				<div class="module-side-list module-bg">
					<div class="scroll-box">
						<div class="module-textlist scroll-content">
							{{ range $index,$value := .PageData.MonthDongMan}}
							<a class="text-list-item" href="show-{{ EncryptID $value.VodID }}.html">
								<div class="text-list-num top-main top-{{ add $index 1 }}">{{ add $index 1 }}</div>
								<div class="text-list-title">
									<h3>{{ $value.VodName }}</h3>
									<p>{{ $value.VodRemarks }}</p>
								</div>
							</a>
							{{end}}
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 动漫end -->
		
		<!-- 综艺start -->
		<div class="module module-wrapper">
			<div class="module-main">
				<div class="module-heading">
					<h2 class="module-title">
						综艺 <span class="module-title-en">zongyi</span>
					</h2>
					<a class="more" href="v/zongyi.html" title="更多综艺">
						更多综艺 <i class="icon-arrow-right-o"></i>
					</a>
				</div>
				<div class="module-list module-lines-list">
					<div class="module-items">
						{{ range .PageData.listZongYi }}
						<div class="module-item">
							<div class="module-item-cover">
								<div class="module-item-pic">
									<a href="show-{{ EncryptID .VodID }}.html" title="{{ .VodName }}">
										<i class="icon-play"></i>
									</a>
									<img alt="{{ .VodName }}" class="lazy lazyloaded"
										 data-src="{{ .VodPic }}"
										 onerror="this.src='/statics/image/loading.png'"
										 src="/statics/image/loading.png">
									<div class="loading"></div>
								</div>
								<div class="module-item-caption">
									<span> {{ .VodYear }}</span>
									<span class="video-class">{{ TypeName $.PageData.listMacType .TypeID }}</span>
									<span>{{ .VodArea }}</span>
								</div>
								
								<div class="module-item-content">
									<div class="module-item-style video-name">
										<a href="show-{{ EncryptID .VodID }}.html" title="{{ .VodName }}">{{ .VodName }}</a>
									</div>
									<div class="module-item-style video-tag">
										{{ $VodActorList := split .VodActor "," }}
										{{ range $index, $name := $VodActorList }}
										<a href="search.html" target="_blank">{{$name}}</a>&nbsp;
										{{ end }}
									</div>
									<div class="module-item-style video-text">　　
																			  {{ raw .VodContent }}
									</div>
								</div>
							</div>
							<div class="module-item-titlebox">
								<a class="module-item-title" href="show-{{ EncryptID .VodID }}.html" title="{{ .VodName }}">{{ .VodName }}</a>
							</div>
							<div class="module-item-text">{{ .VodRemarks }}</div>
						</div>
						{{end}}
					</div>
				</div>
			</div>
			<div class="module-side">
				<div class="module-heading">
					<h2 class="module-title">综艺•月榜<span class="module-title-en">RANKING</span></h2>
				</div>
				<div class="module-side-list module-bg">
					<div class="scroll-box">
						<div class="module-textlist scroll-content">
							{{ range $index,$value := .PageData.MonthZongYi}}
							<a class="text-list-item" href="show-{{ EncryptID $value.VodID }}.html">
								<div class="text-list-num top-main top-{{ add $index 1 }}">{{ add $index 1 }}</div>
								<div class="text-list-title">
									<h3>{{ $value.VodName }}</h3>
									<p>{{ $value.VodRemarks }}</p>
								</div>
							</a>
							{{end}}
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 综艺end -->
		
		
		<!-- 列表 -->
		
		<div class="module">
			<div class="module-heading">
				<h2 class="module-title"> 最新影片<span class="module-title-en">Latest</span></h2>
				<div class="module-tab">
					<input class="module-tab-input" id="tab" name="tab" type="hidden">
					<label class="module-tab-name"><span class="module-tab-value">全部</span><i
							class="icon-arrow-bottom"></i></label>
					<div class="module-tab-items">
						<div class="module-tab-title">选择类型<span class="close-drop"><i
								class="icon-close-o"></i></span></div>
						<div>
							<span class="module-tab-item tab-item selected" data-dropdown-value="全部">全部</span>
							
							<span class="module-tab-item tab-item" data-dropdown-value="电影">电影</span>
							
							<span class="module-tab-item tab-item" data-dropdown-value="电视剧">电视剧</span>
							
							<span class="module-tab-item tab-item" data-dropdown-value="动漫">动漫</span>
							
							<span class="module-tab-item tab-item" data-dropdown-value="综艺">综艺</span>
						
						</div>
					</div>
				</div>
				<div class="shortcuts-mobile-overlay"></div>
			</div>
			<div>
				<div class="module-list module-line-list tab-list selected">
					<div class="module-items scroll-box">
						<div class="scroll-content">
							{{range .PageData.listNewVideos.NewsAll}}
							<div class="module-item">
								<div class="module-item-cover">
									<div class="module-item-pic">
										<a href="show-{{ EncryptID .VodID }}.html" title="{{ .VodName }}">
											<i class="icon-play"></i>
										</a>
										<img alt="{{ .VodName }}" class="lazy lazyloaded"
											 data-src="{{ .VodPic }}"
											 onerror="this.src='/statics/image/loading.png'"
											 src="/statics/image/loading.png">
										<div class="loading"></div>
									</div>
									<div class="module-item-caption">
										<span> {{ .VodYear }}</span>
										<span class="video-class">{{ TypeName $.PageData.listMacType .TypeID }}</span>
										<span>{{ .VodArea }}</span>
									</div>
									
									<div class="module-item-content">
										<div class="module-item-style video-name">
											<a href="show-{{ EncryptID .VodID }}.html" title="{{ .VodName }}">{{ .VodName }}</a>
										</div>
										<div class="module-item-style video-tag">
											{{ $VodActorList := split .VodActor "," }}
											{{ range $index, $name := $VodActorList }}
											<a href="search.html" target="_blank">{{$name}}</a>&nbsp;
											{{ end }}
										</div>
										<div class="module-item-style video-text">　　
																				  {{ raw .VodContent }}
										</div>
									</div>
								</div>
								<div class="module-item-titlebox">
									<a class="module-item-title" href="show-{{ EncryptID .VodID }}.html" title="{{ .VodName }}">{{ .VodName }}</a>
								</div>
								<div class="module-item-text">{{ .VodRemarks }}</div>
							</div>
							{{end}}
						</div>
					</div>
					<div class="module-footer">
						<a class="load-all" href="pianku.html" title="更多">查看更多<i
								class="icon-arrow-right-o"></i></a>
					</div>
				</div>
				
				<div class="module-list module-line-list tab-list">
					<div class="module-items scroll-box">
						<div class="scroll-content">
							{{range .PageData.listNewVideos.NewsVideos}}
							<div class="module-item">
								<div class="module-item-cover">
									<div class="module-item-pic">
										<a href="show-{{ EncryptID .VodID }}.html" title="{{ .VodName }}">
											<i class="icon-play"></i>
										</a>
										<img alt="{{ .VodName }}" class="lazy lazyloaded"
											 data-src="{{ .VodPic }}"
											 onerror="this.src='/statics/image/loading.png'"
											 src="/statics/image/loading.png">
										<div class="loading"></div>
									</div>
									<div class="module-item-caption">
										<span> {{ .VodYear }}</span>
										<span class="video-class">{{ TypeName $.PageData.listMacType .TypeID }}</span>
										<span>{{ .VodArea }}</span>
									</div>
									
									<div class="module-item-content">
										<div class="module-item-style video-name">
											<a href="show-{{ EncryptID .VodID }}.html" title="{{ .VodName }}">{{ .VodName }}</a>
										</div>
										<div class="module-item-style video-tag">
											{{ $VodActorList := split .VodActor "," }}
											{{ range $index, $name := $VodActorList }}
											<a href="search.html" target="_blank">{{$name}}</a>&nbsp;
											{{ end }}
										</div>
										<div class="module-item-style video-text">　　
																				  {{ raw .VodContent }}
										</div>
									</div>
								</div>
								<div class="module-item-titlebox">
									<a class="module-item-title" href="show-{{ EncryptID .VodID }}.html" title="{{ .VodName }}">{{ .VodName
																										 }}</a>
								</div>
								<div class="module-item-text">{{ .VodRemarks }}</div>
							</div>
							{{end}}
						</div>
					</div>
					<div class="module-footer">
						<a class="load-all" href="v/dianying.html" title="查看更多电影">更多电影<i
								class="icon-arrow-right-o"></i></a>
					</div>
				</div>
				
				<div class="module-list module-line-list tab-list">
					<div class="module-items scroll-box">
						<div class="scroll-content">
							{{range .PageData.listNewVideos.NewsDianShiJu}}
							<div class="module-item">
								<div class="module-item-cover">
									<div class="module-item-pic">
										<a href="show-{{ EncryptID .VodID }}.html" title="{{ .VodName }}">
											<i class="icon-play"></i>
										</a>
										<img alt="{{ .VodName }}" class="lazy lazyloaded"
											 data-src="{{ .VodPic }}"
											 onerror="this.src='/statics/image/loading.png'"
											 src="/statics/image/loading.png">
										<div class="loading"></div>
									</div>
									<div class="module-item-caption">
										<span> {{ .VodYear }}</span>
										<span class="video-class">{{ TypeName $.PageData.listMacType .TypeID }}</span>
										<span>{{ .VodArea }}</span>
									</div>
									
									<div class="module-item-content">
										<div class="module-item-style video-name">
											<a href="show-{{ EncryptID .VodID }}.html" title="{{ .VodName }}">{{ .VodName }}</a>
										</div>
										<div class="module-item-style video-tag">
											{{ $VodActorList := split .VodActor "," }}
											{{ range $index, $name := $VodActorList }}
											<a href="search.html" target="_blank">{{$name}}</a>&nbsp;
											{{ end }}
										</div>
										<div class="module-item-style video-text">　　
																				  {{ raw .VodContent }}
										</div>
									</div>
								</div>
								<div class="module-item-titlebox">
									<a class="module-item-title" href="show-{{ EncryptID .VodID }}.html" title="{{ .VodName }}">{{ .VodName }}</a>
								</div>
								<div class="module-item-text">{{ .VodRemarks }}</div>
							</div>
							{{end}}
						</div>
					</div>
					<div class="module-footer">
						<a class="load-all" href="v/dianshiju.html" title="查看更多电视剧">更多电视剧<i
								class="icon-arrow-right-o"></i></a>
					</div>
				</div>
				
				<div class="module-list module-line-list tab-list">
					<div class="module-items scroll-box">
						<div class="scroll-content">
							{{range .PageData.listNewVideos.NewsDongMan}}
							<div class="module-item">
								<div class="module-item-cover">
									<div class="module-item-pic">
										<a href="show-{{ EncryptID .VodID }}.html" title="{{ .VodName }}">
											<i class="icon-play"></i>
										</a>
										<img alt="{{ .VodName }}" class="lazy lazyloaded"
											 data-src="{{ .VodPic }}"
											 onerror="this.src='/statics/image/loading.png'"
											 src="/statics/image/loading.png">
										<div class="loading"></div>
									</div>
									<div class="module-item-caption">
										<span> {{ .VodYear }}</span>
										<span class="video-class">{{ TypeName $.PageData.listMacType .TypeID }}</span>
										<span>{{ .VodArea }}</span>
									</div>
									
									<div class="module-item-content">
										<div class="module-item-style video-name">
											<a href="show-{{ EncryptID .VodID }}.html" title="{{ .VodName }}">{{ .VodName }}</a>
										</div>
										<div class="module-item-style video-tag">
											{{ $VodActorList := split .VodActor "," }}
											{{ range $index, $name := $VodActorList }}
											<a href="search.html" target="_blank">{{$name}}</a>&nbsp;
											{{ end }}
										</div>
										<div class="module-item-style video-text">　　
																				  {{ raw .VodContent }}
										</div>
									</div>
								</div>
								<div class="module-item-titlebox">
									<a class="module-item-title" href="show-{{ EncryptID .VodID }}.html" title="{{ .VodName }}">{{ .VodName }}</a>
								</div>
								<div class="module-item-text">{{ .VodRemarks }}</div>
							</div>
							{{end}}
						</div>
					</div>
					<div class="module-footer">
						<a class="load-all" href="v/dongman.html" title="查看更多动漫">更多动漫<i
								class="icon-arrow-right-o"></i></a>
					</div>
				</div>
				
				<div class="module-list module-line-list tab-list">
					<div class="module-items scroll-box">
						<div class="scroll-content">
							{{range .PageData.listNewVideos.NewsZongYi}}
							<div class="module-item">
								<div class="module-item-cover">
									<div class="module-item-pic">
										<a href="show-{{ EncryptID .VodID }}.html" title="{{ .VodName }}">
											<i class="icon-play"></i>
										</a>
										<img alt="{{ .VodName }}" class="lazy lazyloaded"
											 data-src="{{ .VodPic }}"
											 onerror="this.src='/statics/image/loading.png'"
											 src="/statics/image/loading.png">
										<div class="loading"></div>
									</div>
									<div class="module-item-caption">
										<span> {{ .VodYear }}</span>
										<span class="video-class">{{ TypeName $.PageData.listMacType .TypeID }}</span>
										<span>{{ .VodArea }}</span>
									</div>
									
									<div class="module-item-content">
										<div class="module-item-style video-name">
											<a href="show-{{ EncryptID .VodID }}.html" title="{{ .VodName }}">{{ .VodName }}</a>
										</div>
										<div class="module-item-style video-tag">
											{{ $VodActorList := split .VodActor "," }}
											{{ range $index, $name := $VodActorList }}
											<a href="search.html" target="_blank">{{$name}}</a>&nbsp;
											{{ end }}
										</div>
										<div class="module-item-style video-text">　　
																				  {{ raw .VodContent }}
										</div>
									</div>
								</div>
								<div class="module-item-titlebox">
									<a class="module-item-title" href="show-{{ EncryptID .VodID }}.html" title="{{ .VodName }}">{{ .VodName }}</a>
								</div>
								<div class="module-item-text">{{ .VodRemarks }}</div>
							</div>
							{{end}}
						</div>
					</div>
					<div class="module-footer">
						<a class="load-all" href="v/zongyi.html" title="查看更多综艺">更多综艺<i
								class="icon-arrow-right-o"></i></a>
					</div>
				</div>
			</div>
		</div>
		<!-- 最新影片 -->
	</div>
</main>

<!--友情链接-->
{{template "link" .}}
<!--底部-->
{{template "footer" .}}

<!--弹窗-->
{{template "popup" .}}
<!--javascript-->
{{template "javascript" .}}
</body>
</html>
{{end}}
