{{ define "play.html" }}
{{template "head" .}}
<body class="page play">
{{template "header" .}}
<!-- 头部 -->
<main id="main" class="wrapper">
    <div class="player-block">
        <div class="content">
            <div class="player-box">
                <div class="player-box-main">

                    <div class="tips-box"><span class="close-btn"><i class="icon-close-o"></i></span>
                        <ul class="tips-list">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <li class="swiper-slide">正在播放《{{ .PageData.detail.VodName }}》{{ .PageData.PartName }} - SD节点</li>
                                    <li class="swiper-slide"><span class="btn-main">提醒</span>不要轻易相信视频中的任何广告，谨防上当受骗</li>
                                    <li class="swiper-slide"><span class="btn-yellow">技巧</span>如遇视频无法播放或加载速度慢，可尝试切换播放节点或者切换解析</li>
                                    <li class="swiper-slide"><span class="btn-main">节点</span>请优先使用靠前节点，NG节点为海外独享</li>
                                    <li class="swiper-slide"><span class="btn-yellow">收藏</span>电影先生网址：<strong>dianyi.ng&nbsp; /&nbsp; www.dianyi.ng&nbsp; ,记得收藏哟～</strong></li>
                                </div>
							</div>
                        </ul>
                    </div>

                    <div class="player-wrapper">
						<script type="text/javascript">
							var player_aaaa= {
										"flag": "play",
										"encrypt": 2,
										"trysee": 0,
										"points": 0,
										"link": "/{{ .PageData.Link }}",
										"link_next": "/{{ .PageData.LinkNext }}",
										"link_pre": "/{{ .PageData.LinkPre }}",
										"vod_data": {
											"vod_name": "{{ .PageData.detail.VodName }}",
											"vod_actor": "{{ .PageData.detail.VodActor }}",
											"vod_director": "{{ .PageData.detail.VodDirector }}",
											"vod_class": "{{ .PageData.detail.VodClass }}"
										},
										"url": "{{ .PageData.Url }}",
										"url_next": "{{ .PageData.UrlNext }}",
										"from": "lzm3u8",
										"server": "no",
										"note": "",
										"id": "HcNqCS",
										"sid": 9,
										"nid": 4
									}
						</script>
						<script type="text/javascript" src="{{.__JS__}}/playerconfig.js"></script>
						<script type="text/javascript" src="{{.__JS__}}/player.js"></script>
						<style>.MacPlayer{background: #000000;font-size:14px;color:#F6F6F6;margin:0px;padding:0px;position:relative;overflow:hidden;width:100%;height:100%;min-height:100px;}.MacPlayer table{width:100%;height:100%;}.MacPlayer #playleft{position:inherit;!important;width:100%;height:100%;}</style>
						
						<div class="MacPlayer">
							<iframe id="buffer"></iframe>
							<iframe id="install" ></iframe>
							<table border="0" cellpadding="0" cellspacing="0">
								<tbody>
								<tr>
									<td id="playleft" valign="top" style=""></td>
								</tr>
								</tbody>
							</table>
						
						</div>
						<script src="{{.__JS__}}/player/lzm3u8.js"></script>
					
					</div>

                </div>
            </div>
            <div class="player-info">
                <div class="video-info">
                    <div class="video-info-box">
                        <div class="video-info-header">
                            <h1 class="page-title"><a href="show.html" title="{{ .PageData.detail.VodName }}">{{ .PageData.detail.VodName }}</a></h1>
                            <span class="btn-pc page-title">HD</span>
                            <div class="video-info-aux">
                                <a href="v/dianying.html" title="电影" class="tag-link">
                <span class="video-tag-icon">
                                         <i class="icon-cate-dy"></i>
                     电影                </span>
                                </a>

                                <div class="tag-link">
                                    <span class="slash">/</span>

                                    <a href="/pianku-6---%E5%8A%A8%E4%BD%9C.html">动作</a><span class="slash">/</span>
                                </div>

                                <a class="tag-link" href="/pianku.html">2021	</a>

                                <a class="tag-link" href="/pianku-6-%E5%86%85%E5%9C%B0.html">内地	</a>

                            </div>
                        </div>
                        <div class="video-info-main">
                            <div class="video-info-items"><span class="video-info-itemtitle">剧情：</span>
                                <div class="video-info-item video-info-content">
                                    <p class="zkjj_a">少女梅若华流落街头，被黄药师收为徒弟改名梅超风，与师兄弟一起在桃花岛上习武长大。黄药师发现梅超风对自己的情感已超乎师徒之情，借故离岛，两年后带回妻子冯蘅和半部《九阴真经》。<span class="zk_jj red">[展开全部]</span></p><p class="sqjj_a" style="display: none;">　少女梅若华流落街头，被黄药师收为徒弟改名梅超风，与师兄弟一起在桃花岛上习武长大。黄药师发现梅超风对自己的情感已超乎师徒之情，借故离岛，两年后带回妻子冯蘅和半部《九阴真经》。<span class="sq_jj red">[收起部分]</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="video-player-handle">
                        <div class="drop pc"><span class="btn-block-o handle-btn handle-more" title="拿起手机扫一扫"><i class="icon-qrcode"></i>
              <p class="block-name">手机看</p>
              </span>
                            <div class="drop-content handle-more-drop">
                                <div class="drop-content-box">
                                    <div class="drop-content-items"><a class="btn-qrcode">
                                        <div class="qrcode-img"></div>
                                        <div class="block-name">
                                            <p>使用 手机浏览器 扫码观看</p>
                                            <strong>{{ .PageData.detail.VodName }} -HD</strong></div>
                                    </a></div>
                                </div>
                            </div>
                            <div class="shortcuts-mobile-overlay"></div>
                        </div>
                        <a href="/voddown/3fkSCS.html#download-list" class="btn-block-o handle-btn handle-down" title="《{{ .PageData.detail.VodName }}》可免费下载"><i class="icon-download-bold"></i><em class="extra-tips">免费</em><p class="block-name">可下载</p></a>
                        <div class="video-player-handle-more">
                            <div class="btn-block-o handle-btn handle-share share-btn" title="分享《{{ .PageData.detail.VodName }}》给朋友一起看" data-clipboard-text="dianyi.ng/show.html 我正在电影先生观看《{{ .PageData.detail.VodName }}》，推荐给你一起看！"><i class="icon-share"></i>
                                <p class="block-name">分享</p>
                            </div>
                            <div class="drop"><span class="btn-block-o handle-btn handle-more"><i class="icon-more"></i>
                <p class="block-name">观影+</p>
                </span>
                                <div class="drop-content handle-more-drop">
                                    <div class="drop-content-box">
                                        <div class="drop-content-items">
                                            <a class="btn-block-o" onclick="MAC.Gbook.Report('SD节点线路-《{{ .PageData.detail.VodName }}》' + location.href,'1')"><i class="icon-warn"></i>
                                                <p class="block-name"><strong>影片报错</strong><br>
                                                    如遇无法播放请提交给我们</p>
                                            </a>
                                            <a class="btn-block-o btn-screen"><i class="icon-tv"></i>
                                                <p class="block-name"><strong>投屏到电视</strong><br>
                                                    教程：把手机影片投到电视上播放</p>
                                            </a></div>
                                    </div>
                                </div>
                                <div class="shortcuts-mobile-overlay"></div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
            <div class="player-box-side">
                <div class="module-heading">
                    <h2 class="module-title" title="{{ .PageData.detail.VodName }}的在线观看列表">在线观看</h2>
                    <div class="module-tab module-player-tab  player-side-tab">
                        <input type="hidden" name="tab" id="tab" class="module-tab-input">
                        <label class="module-tab-name"><span class="module-tab-value">SD节点</span><i class="icon-arrow-bottom-o"></i></label>
                        <div class="module-tab-items">
                            <div class="module-tab-title">播放节点列表<span class="close-drop"><i class="icon-close-o"></i></span></div>
                            <div class="module-tab-content">
								{{ $VodPlayFromList := split .PageData.detail.VodPlayFrom "$$$" }}
								{{ range $index, $name := $VodPlayFromList }}
								<div class="module-tab-item tab-item {{ if eq (add 1 $index) $.PageData.Node }}selected{{end}}" data-dropdown-value="{{ $name }}">
									<span>{{ $name }}</span>
									<small>{{ GetVodCount $.PageData.detail.VodPlayURL "$$$" $index }}</small>
								</div>
								{{ end }}
                            </div>
                        </div>
                    </div>
                    <div class="shortcuts-mobile-overlay"></div>
                </div>
				
				{{ $VodPlayUrlList := split .PageData.detail.VodPlayURL "$$$" }}
				{{ range $index, $data := $VodPlayUrlList }}
                <div class="module-list module-player-list tab-list sort-list  {{ if eq (add $index 1) $.PageData.Node }}selected{{end}} player-side-playlist">
                    <div class="module-tab module-sorttab">
                        <input type="hidden" name="tab-sort" id="tab-sort-{{ add $index 1 }}" class="module-tab-input">
                        <label class="module-tab-name"><i class="icon-sort"></i></label>
                        <div class="module-tab-items">
                            <div class="module-tab-title">选集
								<span class="close-drop"><i class="icon-close-o"></i></span>
								<a class="desc sort-button" href="javascript:void(0);" to="#sort-item-1"><i class="icon-sort"></i>排序</a>
							</div>
                            <div class="module-tab-content">
                                <div class="module-blocklist">
                                    <div class="sort-item" id="sort-item-{{ add $index 1 }}">
										{{ $VodUrlList := split $data "#" }}
										{{ range $kk, $vv := $VodUrlList }}
										<a onclick="topLine(event)"
										   href="play-{{ EncryptID $.PageData.detail.VodID }}-{{ add $index 1 }}-{{ add $kk 1 }}.html"
										   class="{{ if eq (add $kk 1) $.PageData.Part }}selected{{end}}"
										   title="{{ $.PageData.detail.VodName }}">
											<span>{{ GetSplitFirst $vv "$" }}</span>
											<div class="playon">
												<i></i><i></i>
												<i></i><i></i>
											</div>
										</a>
										{{ end }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="shortcuts-mobile-overlay"></div>
                    <div class="module-blocklist scroll-box scroll-box-y">
                        <div class="scroll-content">
							{{ $VodUrlList := split $data "#" }}
							{{ range $kk, $vv := $VodUrlList }}
							<a href="play-{{ EncryptID $.PageData.detail.VodID }}-{{ add $index 1 }}-{{ add $kk 1 }}.html"
							   class="{{ if eq (add $kk 1) $.PageData.Part }}selected{{end}}"
							   title="播放{{ $.PageData.detail.VodName }} {{ $.PageData.PartName }} "
							>
								<span>{{ GetSplitFirst $vv "$" }}</span>
								<div class="playon">
									<i></i><i></i>
									<i></i><i></i>
								</div>
							</a>
							{{ end }}
                        </div>
                    </div>
                </div>
				{{ end }}
				
            </div>
        </div>
    </div>

    <div class="content">
		
		<div class="module">
			<div class="module-heading">
				<h2 class="module-title" title="与{{ .PageData.detail.VodName }}相关的影片列表">相关影片<span class="module-title-en">RELATED</span>
				</h2>
			</div>
			<div class="module-list module-lines-list">
				<div class="module-items">
					{{ range .PageData.Related }}
					<div class="module-item">
						<div class="module-item-cover">
							<div class="module-item-pic">
								<a href="/show-{{ EncryptID .VodID }}.html" title="{{ .VodName }}">
									<i class="icon-play"></i>
								</a>
								<img alt="{{ .VodName }}"
									 class="lazy lazyloaded"
									 data-src="{{ .VodPic }}"
									 onerror="this.src='/statics/image/loading.png'"
									 src="/statics/image/loading.png">
								<div class="loading"></div>
							</div>
							<div class="module-item-caption">
								<span> {{ .VodYear }}</span>
								{{ $VodClassList := split .VodClass "," }}
								{{ range $index, $name := $VodClassList }}
								<span class="video-class">{{$name}}</span>
								{{ end }}
								<span>{{ .VodArea }}</span>
							</div>
							<div class="module-item-content">
								<div class="module-item-style video-name">
									<a href="/show-{{ EncryptID .VodID }}.html" title="{{ .VodName }}">{{ .VodName }}</a>
								</div>
								<div class="module-item-style video-tag">
									{{ $VodActorList := split .VodActor "," }}
									{{ range $index, $name := $VodActorList }}
									<a href="search.html" target="_blank">{{$name}}</a>&nbsp;
									{{ end }}
								</div>
								<div class="module-item-style video-text">
									{{ .VodContent }}
								</div>
							</div>
						</div>
						<div class="module-item-titlebox">
							<a class="module-item-title" href="/show-{{ EncryptID .VodID }}.html" title="{{ .VodName }}">{{ .VodName }}</a>
						</div>
						<div class="module-item-text">{{ .VodRemarks }}</div>
					</div>
					{{ end }}
				</div>
			</div>
		</div>
		<!-- 相关影片 -->
		
		<div class="module">
			<div class="module-heading">
				<h2 class="module-title">正在热播<span class="module-title-en">TRENDING</span></h2>
				<a class="more" href="/pianku.html" title="更多">更多<i class="icon-arrow-right-o"></i></a>
			</div>
			<div class="module-list module-line-list">
				<div class="module-items">
					{{ range .PageData.CurrentlyTrending }}
					<div class="module-item">
						<div class="module-item-cover">
							<div class="module-item-pic">
								<a href="show-{{ EncryptID .VodID }}.html" title="{{ .VodName }}">
									<i class="icon-play"></i>
								</a>
								<img alt="{{ .VodName }}"
									 class="lazy lazyloaded"
									 data-src="{{ .VodPic }}"
									 onerror="this.src='/statics/image/loading.png'"
									 src="/statics/image/loading.png">
								<div class="loading"></div>
							</div>
							<div class="module-item-caption">
								<span> {{ .VodYear }}</span>
								{{ $VodClassList := split .VodClass "," }}
								{{ range $index, $name := $VodClassList }}
								<span class="video-class">{{$name}}</span>
								{{ end }}
								<span>{{ .VodArea }}</span>
							</div>
							<div class="module-item-content">
								<div class="module-item-style video-name">
									<a href="show-{{ EncryptID .VodID }}.html" title="{{ .VodName }}">{{ .VodName }}</a>
								</div>
								<div class="module-item-style video-tag">
									{{ $VodActorList := split .VodActor "," }}
									{{ range $index, $name := $VodActorList }}
									<a href="search.html" target="_blank">{{$name}}</a>&nbsp;
									{{ end }}
								</div>
								<div class="module-item-style video-text">　　
																		  {{ .VodContent }}
								</div>
							</div>
						</div>
						<div class="module-item-titlebox">
							<a class="module-item-title" href="show-{{ EncryptID .VodID }}.html" title="{{ .VodName }}">{{ .VodName }}</a>
						</div>
						<div class="module-item-text">{{ .VodRemarks }}</div>
					</div>
					{{ end }}
				</div>
			</div>
		</div>
		<!-- 正在热播 -->

        <div class="module">
            <div class="module-heading">
                <h2 class="module-title">影片评论<span class="module-title-en">REVIEW</span></h2>
            </div>
            <div class="mxone-pannel mxone-pannel-bg clearfix">
                <div class="mxone-pannel-box clearfix">
                    <div class="mxone-pannel_bd clearfix">
                        <div class="mxone-pannel_bd">
                            <div class="mac_comment" data-id="433129" data-mid="1"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 评论 -->

    </div>
</main>
<span id="blibliId" style="display:none" data-id="4331291" data-user="游客" data-name="射雕英雄传之九阴白骨爪" data-url=""></span>


{{template "footer" .}}
{{template "popup" .}}
{{template "javascript" .}}
</body>

</html>
{{end}}
