{{ define "search.html" }}
{{template "head" .}}
<body class="search page">
{{template "header" .}}

<!-- 头部 -->

<main id="main" class="wrapper">
    <div class="content">
        <div id="search-content">
            <form action="/search.html">
                <div class="search-main">
                    <div class="search-box">
                        <input class="search-input ac_wd" id="txtKeywords" type="text" name="wd" autocomplete="off" placeholder="搜索电影、电视剧、综艺、动漫、演员">
                        <div class="search-drop">
                            <div class="drop-content-items ac_hot none">
                                <div class="list-item list-item-title"><strong>大家都在搜这些影片</strong></div>
                                <div class="search-tag">
                                    <a href="search.html" class="hot "><i class="icon-hot"></i>一念关山</a>
                                    <a href="search.html" class="hot "><i class="icon-hot"></i>神隐</a>
                                    <a href="search.html" class="hot "><i class="icon-hot"></i>鸣龙少年</a>
                                    <a href="search.html" class="hot "><i class="icon-hot"></i>南海归墟</a>
                                    <a href="search.html" class=""><i class="icon-hot"></i>坚如磐石</a>
                                    <a href="search.html" class=""><i class="icon-hot"></i>脱轨</a>
                                    <a href="search.html" class=""><i class="icon-hot"></i>斗破苍穹之少年归来</a>
                                    <a href="search.html" class=""><i class="icon-hot"></i>热烈</a>
                                    <a href="search.html" class=""><i class="icon-hot"></i>涉过愤怒的海</a>
                                    <a href="search.html" class=""><i class="icon-hot"></i>93国际列车大劫案：莫斯科行动</a>
                                    <a href="search.html" class=""><i class="icon-hot"></i>志愿军：雄兵出击</a>
                                </div>
                            </div>
                        </div>
                        <a href="/label/top.html" class="search-btn search-cupfox" id="search-cupfox" title="电影先生排行榜" target="_blank"><i class="icon-cupfox"></i><span>搜全网</span></a>
                        <button class="search-btn search-go" type="submit"><i class="icon-search"></i></button>
                        <button class="cancel-btn" type="button">取消</button>
                    </div>
                </div>
            </form>
            <div class="search-stat">
                <h1></h1>
                <h2>搜索 "{{ .PageData.wd }}" ，找到 <strong class="mac_total"></strong> 部影视作品</h2>
            </div>
        </div>
        <div class="module">
            <div class="module-list">
                <div class="module-items">
					
					{{ range .PageData.pageList.List }}
                    <div class="module-search-item">
                        <div class="video-cover">
                            <div class="module-item-cover">
                                <div class="module-item-pic">
									<a href="play-{{ EncryptID .VodID }}-1-1.html" title="{{ .VodName }}">
										<i class="icon-play"></i></a>
									<img alt="{{ .VodName }}"
										 class="lazy lazyloaded"
										 data-src="{{ .VodPic }}"
										 onerror="this.src='/statics/image/loading.png'"
										 src="/statics/image/loading.png">
                                    <div class="loading"></div>
                                </div>
                            </div>
                        </div>
                        <div class="video-info">
                            <div class="video-info-header">
								<a class="video-serial" href="show-{{ EncryptID .VodID }}.html" title="{{ .VodName }}">{{ .VodRemarks }}</a>
                                <h3>
									<a href="show-{{ EncryptID .VodID }}.html" title="{{ .VodName }}">{{ .VodName }}</a>
								</h3>
                                <div class="video-info-aux">
                                    <a
                                            href="v/{{ TypeEn $.PageData.listMacType .TypeID1 }}.html"
                                       title="{{ TypeName $.PageData.listMacType .TypeID1 }}"
                                       class="tag-link">
										<span class="video-tag-icon">
                                         <i class="icon-cate-ds"></i>&nbsp;{{ TypeName $.PageData.listMacType .TypeID1 }}
										</span>

									</a>
                                    <div class="tag-link"><a href="search.html" target="_blank">{{ .VodYear }}</a>&nbsp;</div>
                                    <div class="tag-link"><a href="search.html" target="_blank">{{ .VodArea }}</a>&nbsp;</div>
                                </div>
                            </div>
                            <div class="video-info-main">
                                <div class="video-info-items"><span class="video-info-itemtitle">导演：</span>
									<div class="video-info-item video-info-actor">
										<span class="slash">/</span>
										{{ $VodDirectorList := split .VodDirector "," }}
										{{ range $index, $name := $VodDirectorList }}
                                            {{ if eq $name "" }}
                                            <a href="search.html" target="_blank">未知</a><span class="slash">/</span>
                                            {{ else }}
                                            <a href="search.html" target="_blank">{{$name}}</a><span class="slash">/</span>
                                            {{ end }}
										{{ end }}
									</div>
                                </div>
                                <div class="video-info-items">
									<span class="video-info-itemtitle">主演：</span>
									<div class="video-info-item video-info-actor">
										<span class="slash">/</span>
										{{ $VodActorList := split .VodActor "," }}
										{{ range $index, $name := $VodActorList }}
                                            {{ if eq $name "" }}
                                            <a href="search.html" target="_blank">未知</a><span class="slash">/</span>
                                            {{ else }}
                                            <a href="search.html" target="_blank">{{$name}}</a><span class="slash">/</span>
                                            {{ end }}
										{{ end }}
									</div>
                                </div>
                                <div class="video-info-items">
									<span class="video-info-itemtitle">剧情：</span>
                                    <div class="video-info-item">{{ raw .VodContent }}</div>
                                </div>
                            </div>
                            <div class="video-info-footer">
                                <a href="play-{{ EncryptID .VodID }}-1-1.html" class="btn-important btn-base" title="立刻播放{{ .VodName }}"><i class="icon-play"></i><strong>立即播放</strong></a>
                                <a href="show-{{ EncryptID .VodID }}.html" class="btn-aux btn-aux-o btn-base" title="下载{{ .VodName }}"><i class="icon-download"></i><strong>下载</strong></a>
                            </div>
                        </div>
                    </div>
					{{end}}

                </div>
                <div class="module-footer">
					<div id="page">
						{{ raw .PageData.PaginationHTML }}
					</div>
                </div>
                <!-- 分页 -->

            </div>
        </div>
    </div>
</main>

{{template "footer" .}}
{{template "popup" .}}
{{template "javascript" .}}
</body>
</html>
{{end}}
