{{ define "show.html" }}
{{template "head" .}}
<body class="view page">
{{template "header" .}}

<!-- 头部 -->
<main class="wrapper" id="main">
	<div class="content">
		<div class="box view-heading">
			<div class="mobile-play">
				<div class="module-item-cover">
					<div class="module-item-pic">
						<img class="lazyload"
							 data-src="{{ .PageData.detail.VodPic }}"
							 onerror="this.src='/statics/image/loading.png'"
							 src="/statics/image/loading.png"/>
					</div>
				</div>
			</div>
			<div class="video-cover">
				<div class="module-item-cover">
					<div class="module-item-pic">
						<a href="/play.html" title="立刻播放{{ .PageData.detail.VodName }}">
							<i class="icon-play"></i>
						</a>
						<img class="lazyload"
							 alt="{{ .PageData.detail.VodName }}"
							 data-src="{{ .PageData.detail.VodPic }}"
							 onerror="this.src='/statics/image/loading.png'"
							 src="/statics/image/loading.png"/>
						<div class="loading"></div>
					</div>
				</div>
			</div>
			<div class="video-info">
				<div class="video-info-header">
					<h1 class="page-title">{{ .PageData.detail.VodName }}</h1>
					<h2 class="video-subtitle" title="又名：{{ .PageData.detail.VodSub }},{{ .PageData.detail.VodName }}">
						<a href="search.html" target="_blank">{{ .PageData.detail.VodName }}</a><span class="slash">/</span>
						{{ $VodSubList := split .PageData.detail.VodSub "/" }}
						{{ range $index, $name := $VodSubList }}
						<a href="search.html" target="_blank">{{ $name }}</a><span class="slash">/</span>
						{{ end }}
					</h2>
					<div class="scroll-box">
						<div class="video-info-aux scroll-content">
							<a class="tag-link" href="v/dianying.html" title="{{ .PageData.detail.VodTag }}">
								<span class="video-tag-icon">
								  <i class="icon-cate-dy"></i>
								  {{ .PageData.MacTypeDetail.TypeName }}
								</span>
							</a>
							
							<div class="tag-link">
								<span class="slash">/</span>
								{{ $VodClassList := split .PageData.detail.VodClass "," }}
								{{ range $index, $name := $VodClassList }}
								<a href="pianku.html">{{$name}}</a><span class="slash">/</span>
								{{ end }}
							</div>
							<a class="tag-link" href="pianku.html">{{ .PageData.detail.VodYear }} </a>
							<a class="tag-link" href="pianku.html">{{ .PageData.detail.VodArea }} </a>
						</div>
					</div>
					<a class="btn-important btn-large shadow-drop video-info-play" href="play.html" title="立刻播放{{ .PageData.detail.VodName }}"><i class="icon-play"></i><strong>立即播放</strong></a>
					<a class="video-info-downbtn video-info-play gotodownloadlist gotodownloadlist" href="voddown/2FtqCS-1-1.html"><i class="icon-download"></i><strong>影片下载</strong></a>
				</div>
				
				<div class="video-info-main">
					<div class="video-info-items">
						<span class="video-info-itemtitle">导演：</span>
						<div class="video-info-item video-info-actor">
							<span class="slash">/</span>
							{{ $VodDirectorList := split .PageData.detail.VodDirector "," }}
							{{ range $index, $name := $VodDirectorList }}
							<a href="search.html" target="_blank">{{$name}}</a><span class="slash">/</span>
							{{ end }}
						</div>
					</div>
					<div class="video-info-items">
						<span class="video-info-itemtitle">编剧：</span>
						<div class="video-info-item video-info-actor">
							<span class="slash">/</span>
							{{ $VodWriterList := split .PageData.detail.VodWriter "," }}
							{{ range $index, $name := $VodWriterList }}
							<a href="search.html" target="_blank">{{$name}}</a><span class="slash">/</span>
							{{ end }}
						</div>
					</div>
					<div class="video-info-items">
						<span class="video-info-itemtitle">主演：</span>
						<div class="video-info-item video-info-actor">
							<span class="slash">/</span>
							{{ $VodActorList := split .PageData.detail.VodActor "," }}
							{{ range $index, $name := $VodActorList }}
							<a href="search.html" target="_blank">{{$name}}</a><span class="slash">/</span>
							{{ end }}
						</div>
					</div>
					<div class="video-info-items">
						<span class="video-info-itemtitle">上映：</span>
						<div class="video-info-item">{{ .PageData.detail.VodPubdate }}<em></em><span class="slash">/</span>
							<a href="search.html" target="_blank">{{ .PageData.detail.VodLang }}</a><span class="slash">/</span>
						</div>
					</div>
					<div class="video-info-items">
						<span class="video-info-itemtitle"> 备注：</span>
						<div class="video-info-item">
							<span class="slash">/</span> {{ .PageData.detail.VodRemarks }}<span class="slash">/</span><em></em>{{ .PageData.detail.VodVersion }}
						</div>
					</div>
					<div class="video-info-items">
						<span class="video-info-itemtitle">片长：</span>
						<div class="video-info-item">{{ .PageData.detail.VodDuration }}</div>
					</div>
					
					<div class="video-info-items">
						<span class="video-info-itemtitle">评价：</span>
						<span class="text-muted" style="margin-right: 10px"><a href="https://search.douban.com/movie/subject_search?search_text={{ .PageData.detail.VodName }}" rel="nofollow" target="_blank" title="到豆瓣页面查看《{{ .PageData.detail.VodName }}》"><img src="{{.__STATIC__}}/favicon/douban.ico" style="width: 15px; height: 15px"/></a></span>
						<span class="text-muted" style="margin-right: 10px"><a href="https://www.douyin.com/search/{{ .PageData.detail.VodName }}" rel="nofollow" target="_blank" title="到抖音页面查看《{{ .PageData.detail.VodName }}》"><img src="{{.__STATIC__}}/favicon/douyin.ico" style="width: 15px; height: 15px"/></a></span>
						<span class="text-muted" style="margin-right: 10px"><a href="https://www.kuaishou.com/search/video?searchKey={{ .PageData.detail.VodName }}" rel="nofollow" target="_blank" title="到快手页面查看《{{ .PageData.detail.VodName }}》"><img src="{{.__STATIC__}}/favicon/kuaishou.ico" style="width: 15px; height: 15px"/></a></span>
						<span class="text-muted" style="margin-right: 10px"><a href="https://www.ixigua.com/search/{{ .PageData.detail.VodName }}" rel="nofollow" target="_blank" title="到西瓜视频页面查看《{{ .PageData.detail.VodName }}》"><img src="{{.__STATIC__}}/favicon/xigua.ico" style="width: 15px; height: 15px"/></a></span>
						<span class="text-muted" style="margin-right: 10px"><a href="https://s.weibo.com/weibo?q={{ .PageData.detail.VodName }}" rel="nofollow" target="_blank" title="到微博页面查看《{{ .PageData.detail.VodName }}》"><img src="{{.__STATIC__}}/favicon/weibo.ico" style="width: 15px; height: 15px"/></a></span>
						<span class="text-muted" style="margin-right: 10px"><a href="https://www.toutiao.com/search?keyword={{ .PageData.detail.VodName }}" rel="nofollow" target="_blank" title="到头条页面查看《{{ .PageData.detail.VodName }}》"><img src="{{.__STATIC__}}/favicon/toutiao.ico" style="width: 15px; height: 15px"/></a></span>
						<span class="text-muted" style="margin-right: 10px"><a href="https://www.baidu.com/s?wd={{ .PageData.detail.VodName }}" rel="nofollow" target="_blank" title="到百度页面查看《{{ .PageData.detail.VodName }}》"><img src="{{.__STATIC__}}/favicon/baidu.ico" style="width: 15px; height: 15px"/></a></span>
					</div>
					
					<div class="video-info-items">
						<span class="video-info-itemtitle">剧情：</span>
						<div class="video-info-item video-info-content vod_content">
							<span>
								{{ raw .PageData.detail.VodContent }}
							</span>
							<a class="shrink" href="javaScript:">收起</a>
						</div>
					</div>
				</div>
				<div class="video-info-footer display">
					<div class="video-info-share">
						<button class="share-btn" data-clipboard-text="dianyi.ng/show.html 我正在电影先生观看《{{ .PageData.detail.VodName }}》，推荐给你一起看！">好影片，与好朋友一起分享<i class="icon-happy"></i>
						</button>
					</div>
					<a class="btn-important btn-large shadow-drop" href="/play-{{ EncryptID $.PageData.detail.VodID }}-1-1.html" title="立刻播放{{ .PageData.detail.VodName }}"><i class="icon-play"></i><strong>立即播放</strong></a>
					<a class="btn-aux btn-aux-o btn-large gotodownloadlist" href="/voddown/2FtqCS-1-1.html"><i class="icon-download"></i><strong>下载</strong></a>
				</div>
			</div>
		</div>
		<!-- 简介 -->
		
		<div class="scroll-box scroll-domain-prompt">
			<div class="scroll-content">
				<div class="module-domain-prompt">
					<div class="module-domain-title">电影先生 快捷域名</div>
					<div class="module-domain-main">
						<a href="index.html" target="_blank">DianYi<strong>.ng</strong></a><em>/</em>
						<a href="https://dianying.xianshe.ng" target="_blank">XianShe<strong>.ng</strong></a><em>/</em>
						<a href="https://xn--44qz85a01qpc.com" target="_blank">电影先生<strong>.com</strong></a>
					</div>
				</div>
				<div class="module-domain-prompt">
					<div class="module-domain-title">播放常见问题</div>
					<div class="module-domain-main">
						<a href="//dianyi.ng/help.html" target="_blank">手机投屏教程</a><em>/</em><a href="//dianyi.ng/faq.html" target="_blank">无法播放？</a>
					</div>
				</div>
			</div>
		</div>
		
		<!-- 广告位 -->
		<style>
			.module-blocklist a em {
				color: rgb(0 0 0 / 92%);
				position: absolute;
				top: -1px;
				right: 2px;
				z-index: 3;
				transform: scale(0.78);
				transform-origin: top right;
				border-radius: 1px 5px 0 5px;
				background: linear-gradient(90deg, #ffeb3b, #f9e326);
				padding: 0 3px;
				line-height: 16px;
				font-size: 12px;
				border-radius: 5px;
				display: inline-block !important;
			}
			
			@media (min-width: 659px) {
				.module-blocklist a {
					overflow: initial;
				}
				.module-blocklist a em {
					top: -5px;
					right: -5px;
				}
			}
		</style>
		<div class="module">
			<div class="module-heading">
				<h2 class="module-title" title="{{ .PageData.detail.VodName }}在线观看列表">选集播放:<span class="module-title-en">SELECTED</span>
				</h2>
				<div class="module-tab module-player-tab">
					<input class="module-tab-input" id="tab" name="tab" type="hidden"/>
					<label class="module-tab-name"
					><span class="module-tab-value"><strong>切换线路</strong></span><i class="icon-arrow-bottom-o"></i></label>
					<div class="module-tab-items">
						<div class="module-tab-title">
							播放节点列表
							<span class="close-drop"><i class="icon-close-o"></i></span>
						</div>
						<div class="module-tab-content">
							{{ $VodPlayFromList := split .PageData.detail.VodPlayFrom "$$$" }}
							{{ range $index, $name := $VodPlayFromList }}
							<div class="module-tab-item tab-item {{ if eq $index 0 }}selected{{end}}" data-dropdown-value="{{ $name }}">
								<span>{{ $name }}</span>
								<small>
									{{ GetVodCount $.PageData.detail.VodPlayURL "$$$" $index }}
								</small>
							</div>
							{{ end }}
						</div>
					</div>
				</div>
				<div class="shortcuts-mobile-overlay"></div>
			</div>
			
			
			{{ $VodPlayUrlList := split .PageData.detail.VodPlayURL "$$$" }}
			{{ range $index, $data := $VodPlayUrlList }}
			<div class="module-list module-player-list tab-list sort-list {{ if eq $index 0 }}selected{{end}}" id="glist-{{ add $index 1 }}">
				<div class="module-tab module-sorttab">
					<input class="module-tab-input" id="tab-sort-{{ add $index 1 }}" name="tab-sort" type="hidden"/>
					<label class="module-tab-name"><i class="icon-sort"></i></label>
					<div class="module-tab-items">
						<div class="module-tab-title">
							选集<span class="close-drop"><i class="icon-close-o"></i></span><a class="desc sort-button" href="javascript:void(0);" to="#sort-item-{{ add $index 1 }}"><i class="icon-sort"></i>排序</a>
						</div>
						<div class="module-tab-content">
							<div class="module-blocklist">
								<div class="sort-item" id="sort-item-{{ add $index 1 }}">
									{{ $VodUrlList := split $data "#" }}
									{{ range $kk, $vv := $VodUrlList }}
									<a href="play-{{ EncryptID $.PageData.detail.VodID }}-{{ add $index 1 }}-{{ add $kk 1 }}.html" title="播放 {{ $.PageData.detail.VodName }}"><span>{{ GetSplitFirst $vv "$" }}</span>
									</a>
									{{ end }}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="shortcuts-mobile-overlay"></div>
				<div class="module-blocklist scroll-box scroll-box-y">
					<div class="scroll-content">
						{{ $VodUrlList := split $data "#" }}
						{{ range $kk, $vv := $VodUrlList }}
						<a href="play-{{ EncryptID $.PageData.detail.VodID }}-{{ add $index 1 }}-{{ add $kk 1 }}.html" title="播放{{ $.PageData.detail.VodName }}"><span>{{ GetSplitFirst $vv "$" }}</span> </a>
						{{ end }}
					</div>
				</div>
			</div>
			{{ end }}
			
		</div>
		<!-- 播放列表 -->
		
		<!-- 相关话题 -->
		
		<!-- 系列影片 -->
		
		<div class="module">
			<div class="module-heading">
				<h2 class="module-title" title="与{{ .PageData.detail.VodName }}相关的影片列表">相关影片<span class="module-title-en">RELATED</span>
				</h2>
			</div>
			<div class="module-list module-lines-list">
				<div class="module-items">
					{{ range .PageData.Related }}
					<div class="module-item">
						<div class="module-item-cover">
							<div class="module-item-pic">
								<a href="/show-{{ EncryptID .VodID }}.html" title="{{ .VodName }}">
									<i class="icon-play"></i>
								</a>
								<img alt="{{ .VodName }}"
									 class="lazy lazyloaded"
									 data-src="{{ .VodPic }}"
									 onerror="this.src='/statics/image/loading.png'"
									 src="/statics/image/loading.png">
								<div class="loading"></div>
							</div>
							<div class="module-item-caption">
								<span> {{ .VodYear }}</span>
								{{ $VodClassList := split .VodClass "," }}
								{{ range $index, $name := $VodClassList }}
								<span class="video-class">{{$name}}</span>
								{{ end }}
								<span>{{ .VodArea }}</span>
							</div>
							<div class="module-item-content">
								<div class="module-item-style video-name">
									<a href="/show-{{ EncryptID .VodID }}.html" title="{{ .VodName }}">{{ .VodName }}</a>
								</div>
								<div class="module-item-style video-tag">
									{{ $VodActorList := split .VodActor "," }}
									{{ range $index, $name := $VodActorList }}
									<a href="search.html" target="_blank">{{$name}}</a>&nbsp;
									{{ end }}
								</div>
								<div class="module-item-style video-text">
									{{ raw .VodContent }}
								</div>
							</div>
						</div>
						<div class="module-item-titlebox">
							<a class="module-item-title" href="/show-{{ EncryptID .VodID }}.html" title="{{ .VodName }}">{{ .VodName }}</a>
						</div>
						<div class="module-item-text">{{ .VodRemarks }}</div>
					</div>
					{{ end }}
				</div>
			</div>
		</div>
		<!-- 相关影片 -->
		
		<div class="module">
			<div class="module-heading">
				<h2 class="module-title">正在热播<span class="module-title-en">TRENDING</span></h2>
				<a class="more" href="/pianku.html" title="更多">更多<i class="icon-arrow-right-o"></i></a>
			</div>
			<div class="module-list module-line-list">
				<div class="module-items">
					{{ range .PageData.CurrentlyTrending }}
					<div class="module-item">
						<div class="module-item-cover">
							<div class="module-item-pic">
								<a href="show-{{ EncryptID .VodID }}.html" title="{{ .VodName }}">
									<i class="icon-play"></i>
								</a>
								<img alt="{{ .VodName }}"
									 class="lazy lazyloaded"
									 data-src="{{ .VodPic }}"
									 onerror="this.src='/statics/image/loading.png'"
									 src="/statics/image/loading.png">
								<div class="loading"></div>
							</div>
							<div class="module-item-caption">
								<span> {{ .VodYear }}</span>
								{{ $VodClassList := split .VodClass "," }}
								{{ range $index, $name := $VodClassList }}
								<span class="video-class">{{$name}}</span>
								{{ end }}
								<span>{{ .VodArea }}</span>
							</div>
							<div class="module-item-content">
								<div class="module-item-style video-name">
									<a href="show-{{ EncryptID .VodID }}.html" title="{{ .VodName }}">{{ .VodName }}</a>
								</div>
								<div class="module-item-style video-tag">
									{{ $VodActorList := split .VodActor "," }}
									{{ range $index, $name := $VodActorList }}
									<a href="search.html" target="_blank">{{$name}}</a>&nbsp;
									{{ end }}
								</div>
								<div class="module-item-style video-text">　　
																		  {{ raw .VodContent }}
								</div>
							</div>
						</div>
						<div class="module-item-titlebox">
							<a class="module-item-title" href="show-{{ EncryptID .VodID }}.html" title="{{ .VodName }}">{{ .VodName }}</a>
						</div>
						<div class="module-item-text">{{ .VodRemarks }}</div>
					</div>
					{{ end }}
				</div>
			</div>
		</div>
		<!-- 正在热播 -->
	</div>
</main>


{{template "footer" .}}
{{template "popup" .}}
{{template "javascript" .}}
</body>
</html>
{{end}}
