{{ define "top.html" }}
{{template "html" .}}
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>影视排行榜 - 电影先生</title>
    <meta name="keywords" content="电影先生,dianyi.ng,最新电影,电影大全,影视大全,在线电影,免费电影,电影在线观看,最新电视剧" />
    <meta name="description" content="聚合全网影片，你想看的全都有！每天搜集互联网最新电影和电视剧，为广大用户免费提供无广告在线观看电影和电视剧服务，及时收录最新、最热、最全的电影大片,高清正版免费看。" />
    <meta name="referrer" content="always" />
    <meta name="referrer" content="no-referrer" />
    {{template "header" .}}
</head>
<body class="article page">
<header id="header" class="wrapper">
    <div class="header-content">
        <div class="content">
            <div class="brand">
                <a href="index.html" class="logo" title="电影先生"><img src="statics/picture/logo-s.png" alt="电影先生" /></a>
            </div>
            <div class="nav-search">
                <form action="/search.html" class="search-dh">
                    <div class="search-box">
                        <input class="search-input ac_wd txtKeywords" type="text" name="wd" autocomplete="off" placeholder="搜索电影、电视剧、综艺、动漫、演员" />
                        <div class="search-drop">
                            <div class="drop-content-items ac_hot none">
                                <div class="list-item list-item-title"><strong>大家都在搜这些影片</strong></div>
                                <div class="search-tag">
                                    <a href="search.html" class="hot"><i class="icon-hot"></i>一念关山</a>
                                    <a href="search.html" class="hot"><i class="icon-hot"></i>神隐</a>
                                    <a href="search.html" class="hot"><i class="icon-hot"></i>鸣龙少年</a>
                                    <a href="search.html" class="hot"><i class="icon-hot"></i>南海归墟</a>
                                    <a href="search.html" class=""><i class="icon-hot"></i>坚如磐石</a>
                                    <a href="search.html" class=""><i class="icon-hot"></i>脱轨</a>
                                    <a href="search.html" class=""><i class="icon-hot"></i>斗破苍穹之少年归来</a>
                                    <a href="search.html" class=""><i class="icon-hot"></i>热烈</a>
                                    <a href="search.html" class=""><i class="icon-hot"></i>涉过愤怒的海</a>
                                    <a href="search.html" class=""><i class="icon-hot"></i>93国际列车大劫案：莫斯科行动</a>
                                    <a href="search.html" class=""><i class="icon-hot"></i>志愿军：雄兵出击</a>
                                </div>
                            </div>
                        </div>
                        <a href="" class="search-btn search-cupfox" id="search-cupfox" title="电影先生排行榜"><i class="icon-cupfox phb"></i><span>搜全网</span></a> <button class="search-btn search-go" type="submit"><i class="icon-search"></i></button>
                        <button class="cancel-btn" type="button">取消</button>
                    </div>
                </form>
            </div>

            <div class="nav">
                <ul class="nav-menu-items">
                    <li class="nav-menu-item">
                        <a href="index.html" title="电影先生首页"> <span class="nav-menu-item-name">首页</span></a>
                    </li>
                    <li class="nav-menu-item">
                        <a href="v/dianying.html" title="电影"> <span class="nav-menu-item-name">电影</span></a>
                    </li>
                    <li class="nav-menu-item">
                        <a href="v/dianshiju.html" title="电视剧"> <span class="nav-menu-item-name">电视剧</span></a>
                    </li>
                    <li class="nav-menu-item">
                        <a href="v/dongman.html" title="动漫"> <span class="nav-menu-item-name">动漫</span></a>
                    </li>
                    <li class="nav-menu-item">
                        <a href="v/zongyi.html" title="综艺"> <span class="nav-menu-item-name">综艺</span></a>
                    </li>
                    <li class="nav-menu-item">
                        <a href="arttype/zixun.html" title="资讯"> <span class="nav-menu-item-name">资讯</span></a>
                    </li>

                    <li class="nav-menu-item domain plus">
                        <a href="web.html" title="电影先生最新域名"> <span class="nav-menu-item-name">网址</span><em>+</em></a>
                    </li>

                    <li class="nav-menu-item">
                        <a href="label/app.html" title="下载电影先生APP"><i class="icon-app pc"></i><span class="nav-menu-item-name">APP</span></a>
                    </li>
                </ul>
            </div>
            <div class="header-module">
                <ul class="nav-menu-items">
                    <li class="nav-menu-item drop">
                        <span class="nav-menu-icon"><i class="icon-all"></i></span>
                        <div class="drop-content sub-block">
                            <div class="drop-content-box grid-box">
                                <ul class="drop-content-items grid-items">
                                    <li class="grid-item">
                                        <a href="index.html"
                                        ><i class="icon-home"></i>
                                            <div class="grid-item-name" title="电影先生首页">首页</div>
                                        </a>
                                    </li>
                                    <li class="grid-item">
                                        <a href="v/dianying.html" title="电影">
                                            <i class="icon-cate-dy"></i>
                                            <div class="grid-item-name">电影</div>
                                        </a>
                                    </li>
                                    <li class="grid-item">
                                        <a href="v/dianshiju.html" title="电视剧">
                                            <i class="icon-cate-ds"></i>
                                            <div class="grid-item-name">电视剧</div>
                                        </a>
                                    </li>
                                    <li class="grid-item">
                                        <a href="v/dongman.html" title="动漫">
                                            <i class="icon-cate-dm"></i>
                                            <div class="grid-item-name">动漫</div>
                                        </a>
                                    </li>
                                    <li class="grid-item">
                                        <a href="v/zongyi.html" title="综艺">
                                            <i class="icon-cate-zy"></i>
                                            <div class="grid-item-name">综艺</div>
                                        </a>
                                    </li>
                                    <li class="grid-item">
                                        <a href="arttype/zixun.html" title="资讯">
                                            <i class="iconfont icon-zixun2"></i>
                                            <div class="grid-item-name">资讯</div>
                                        </a>
                                    </li>
                                    <li class="grid-item">
                                        <a href="web.html"
                                        ><i class="icon-domain"></i>
                                            <div class="grid-item-name" title="网址">网址</div>
                                        </a>
                                    </li>
                                    <li class="grid-item grid-more">
                                        <a class="grid-more-link" href="pianku-1-----------.html" title="查看全部影片">
                                            <div class="grid-item-name">全部影片</div>
                                        </a>
                                    </li>
                                    <li class="grid-item grid-more android">
                                        <a href="label/app.html" class="grid-more-link" title="下载电影先生APP">
                                            <div class="grid-item-name">下载客户端</div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="shortcuts-mobile-overlay"></div>
                    </li>

                    <li class="nav-menu-item nav-menu-search"><i class="icon-search"></i></li>
                    <li class="space-line-bold"></li>
                    <li class="nav-menu-item drop">
                        <span class="nav-menu-icon"><i class="icon-watch-history"></i></span>
                        <div class="drop-content drop-history">
                            <div class="drop-content-box">
                                <ul class="drop-content-items" id="history">
                                    <li class="list-item list-item-title">
                                        <a href="" class="playlist historyclean"><i class="icon-clear"></i></a>
                                        <strong>我的观影记录</strong>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="shortcuts-mobile-overlay"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<script>
    $(".nav-menu-search").click(function () {
        $(".nav-search").addClass("block");
    });
    $(document).scroll(function () {
        var H = $(document).scrollTop();
        if (H > 20) {
            $(".header-content").addClass("header-bg");
        } else {
            $(".header-content").removeClass("header-bg");
        }
        if (H > 140) {
            $(".header-content").addClass("header-bg");
            $(".search-dh").append($(".search-box"));
            $(".nav-menu-search").click(function () {
                $(".nav-search").addClass("block");
            });
        } else {
            $(".header-content").removeClass("header-bg");
            $(".search-main").append($(".search-box"));
        }
    });
</script>

<style>
    .title-top {
        background-image: url(statics/image/topbg.png);
        height: 200px;
        background-size: auto 240px;
        background-position: 50%;
        background-repeat: no-repeat;
        position: relative;
        top: 0px;
        width: 100%;
    }
    .title-top span {
        display: block;
        padding-top: 5%;
        text-align: center;
        z-index: 5;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        color: #fff;
        font-size: 30px;
    }
</style>
<main id="main" class="wrapper bgys">
    <div class="content">
        <div class="title-top"><span>排行榜</span></div>
        <div class="list">
            <div class="module-tab">
                <input type="hidden" name="tab" id="tab" class="module-tab-input" />
                <label class="module-tab-name"> <span class="module-tab-value">全部</span><i class="icon-arrow-bottom"></i></label>
                <div class="module-tab-items">
                    <div class="module-tab-title">
                        选择类型<span class="close-drop"><i class="icon-close-o"></i></span>
                    </div>
                    <div>
                        <span class="module-tab-item tab-item selected" data-dropdown-value="总榜">总榜</span>
                        <span class="module-tab-item tab-item" data-dropdown-value="月榜">月榜</span>
                        <span class="module-tab-item tab-item" data-dropdown-value="周榜">周榜</span>
                        <span class="module-tab-item tab-item" data-dropdown-value="推荐榜">推荐榜</span>
                    </div>
                </div>
            </div>

            <div class="tab-list selected" dataname="总榜">
                <div class="list-item">
                    <h5 class="item-title">
                        <i class="icon-cate-dy"></i>
                        <span>电影热播榜</span>
                    </h5>
                    <a class="item" href="/show.html" title="长安三万里" target="_blank">
                        <span class="one order">01</span>
                        <span class="keyword">长安三万里</span>
                    </a>
                    <a class="item" href="/show.html" title="孤注一掷" target="_blank">
                        <span class="two order">02</span>
                        <span class="keyword">孤注一掷</span>
                    </a>
                    <a class="item" href="/show.html" title="消失的她" target="_blank">
                        <span class="three order">03</span>
                        <span class="keyword">消失的她</span>
                    </a>
                    <a class="item" href="/show.html" title="阿凡达2：水之道" target="_blank">
                        <span class="order">04</span>
                        <span class="keyword">阿凡达2：水之道</span>
                    </a>
                    <a class="item" href="/show.html" title="八角笼中" target="_blank">
                        <span class="order">05</span>
                        <span class="keyword">八角笼中</span>
                    </a>
                    <a class="item" href="show.html" title="封神第一部：朝歌风云" target="_blank">
                        <span class="order">06</span>
                        <span class="keyword">封神第一部：朝歌风云</span>
                    </a>
                    <a class="item" href="/show.html" title="速度与激情10" target="_blank">
                        <span class="order">07</span>
                        <span class="keyword">速度与激情10</span>
                    </a>
                    <a class="item" href="/show.html" title="航海王：红发歌姬" target="_blank">
                        <span class="order">08</span>
                        <span class="keyword">航海王：红发歌姬</span>
                    </a>
                    <a class="item" href="/show.html" title="流浪地球2" target="_blank">
                        <span class="order">09</span>
                        <span class="keyword">流浪地球2</span>
                    </a>
                    <a class="item" href="/show.html" title="坚如磐石" target="_blank">
                        <span class="order">10</span>
                        <span class="keyword">坚如磐石</span>
                    </a>
                </div>
                <div class="list-item">
                    <h5 class="item-title">
                        <i class="icon-cate-ds"></i>
                        <span>电视剧热播榜</span>
                    </h5>
                    <a class="item" href="show.html" title="鸣龙少年" target="_blank">
                        <span class="one order">01</span>
                        <span class="keyword">鸣龙少年</span>
                    </a>
                    <a class="item" href="/show.html" title="莲花楼" target="_blank">
                        <span class="two order">02</span>
                        <span class="keyword">莲花楼</span>
                    </a>
                    <a class="item" href="/show.html" title="长相思" target="_blank">
                        <span class="three order">03</span>
                        <span class="keyword">长相思</span>
                    </a>
                    <a class="item" href="/show.html" title="一念关山" target="_blank">
                        <span class="order">04</span>
                        <span class="keyword">一念关山</span>
                    </a>
                    <a class="item" href="/show.html" title="宁安如梦" target="_blank">
                        <span class="order">05</span>
                        <span class="keyword">宁安如梦</span>
                    </a>
                    <a class="item" href="/show.html" title="西出玉门" target="_blank">
                        <span class="order">06</span>
                        <span class="keyword">西出玉门</span>
                    </a>
                    <a class="item" href="/show.html" title="三大队剧版" target="_blank">
                        <span class="order">07</span>
                        <span class="keyword">三大队剧版</span>
                    </a>
                    <a class="item" href="show.html" title="繁花" target="_blank">
                        <span class="order">08</span>
                        <span class="keyword">繁花</span>
                    </a>
                    <a class="item" href="/show.html" title="南海归墟" target="_blank">
                        <span class="order">09</span>
                        <span class="keyword">南海归墟</span>
                    </a>
                    <a class="item" href="/show.html" title="以爱为营" target="_blank">
                        <span class="order">10</span>
                        <span class="keyword">以爱为营</span>
                    </a>
                </div>
                <div class="list-item">
                    <h5 class="item-title">
                        <i class="icon-cate-dm"></i>
                        <span>动漫热播榜</span>
                    </h5>
                    <a class="item" href="/show.html" title="完美世界" target="_blank">
                        <span class="one order">01</span>
                        <span class="keyword">完美世界</span>
                    </a>
                    <a class="item" href="/show.html" title="斗破苍穹年番" target="_blank">
                        <span class="two order">02</span>
                        <span class="keyword">斗破苍穹年番</span>
                    </a>
                    <a class="item" href="/show.html" title="斗罗大陆" target="_blank">
                        <span class="three order">03</span>
                        <span class="keyword">斗罗大陆</span>
                    </a>
                    <a class="item" href="/show.html" title="吞噬星空" target="_blank">
                        <span class="order">04</span>
                        <span class="keyword">吞噬星空</span>
                    </a>
                    <a class="item" href="/show.html" title="海贼王" target="_blank">
                        <span class="order">05</span>
                        <span class="keyword">海贼王</span>
                    </a>
                    <a class="item" href="/show.html" title="凡人修仙传" target="_blank">
                        <span class="order">06</span>
                        <span class="keyword">凡人修仙传</span>
                    </a>
                    <a class="item" href="/show.html" title="咒术回战第二季" target="_blank">
                        <span class="order">07</span>
                        <span class="keyword">咒术回战第二季</span>
                    </a>
                    <a class="item" href="/show.html" title="斗罗大陆2：绝世唐门" target="_blank">
                        <span class="order">08</span>
                        <span class="keyword">斗罗大陆2：绝世唐门</span>
                    </a>
                    <a class="item" href="/show.html" title="神印王座" target="_blank">
                        <span class="order">09</span>
                        <span class="keyword">神印王座</span>
                    </a>
                    <a class="item" href="/show.html" title="遮天" target="_blank">
                        <span class="order">10</span>
                        <span class="keyword">遮天</span>
                    </a>
                </div>
                <div class="list-item">
                    <h5 class="item-title">
                        <i class="icon-cate-zy"></i>
                        <span>综艺热播榜</span>
                    </h5>
                    <a class="item" href="/show.html" title="花儿与少年·丝路季" target="_blank">
                        <span class="one order">01</span>
                        <span class="keyword">花儿与少年·丝路季</span>
                    </a>
                    <a class="item" href="show.html" title="王牌对王牌第八季" target="_blank">
                        <span class="two order">02</span>
                        <span class="keyword">王牌对王牌第八季</span>
                    </a>
                    <a class="item" href="/show.html" title="你好星期六" target="_blank">
                        <span class="three order">03</span>
                        <span class="keyword">你好星期六</span>
                    </a>
                    <a class="item" href="/show.html" title="奔跑吧第七季" target="_blank">
                        <span class="order">04</span>
                        <span class="keyword">奔跑吧第七季</span>
                    </a>
                    <a class="item" href="/show.html" title="现在就出发" target="_blank">
                        <span class="order">05</span>
                        <span class="keyword">现在就出发</span>
                    </a>
                    <a class="item" href="/show.html" title="披荆斩棘第三季" target="_blank">
                        <span class="order">06</span>
                        <span class="keyword">披荆斩棘第三季</span>
                    </a>
                    <a class="item" href="/show.html" title="心动的信号第六季" target="_blank">
                        <span class="order">07</span>
                        <span class="keyword">心动的信号第六季</span>
                    </a>
                    <a class="item" href="/show.html" title="奔跑吧·生态篇" target="_blank">
                        <span class="order">08</span>
                        <span class="keyword">奔跑吧·生态篇</span>
                    </a>
                    <a class="item" href="/show.html" title="向往的生活第七季" target="_blank">
                        <span class="order">09</span>
                        <span class="keyword">向往的生活第七季</span>
                    </a>
                    <a class="item" href="/show.html" title="乘风" target="_blank">
                        <span class="order">10</span>
                        <span class="keyword">乘风</span>
                    </a>
                </div>
            </div>

            <div class="tab-list" dataname="月榜">
                <div class="list-item">
                    <h5 class="item-title">
                        <i class="icon-cate-dy"></i>
                        <span>电影热播榜</span>
                    </h5>
                    <a class="item" href="show.html" title="三大队" target="_blank">
                        <span class="one order">01</span>
                        <span class="keyword">三大队</span>
                    </a>
                    <a class="item" href="/show.html" title="海王2：失落的王国" target="_blank">
                        <span class="two order">02</span>
                        <span class="keyword">海王2：失落的王国</span>
                    </a>
                    <a class="item" href="/show.html" title="画江湖之天罡" target="_blank">
                        <span class="three order">03</span>
                        <span class="keyword">画江湖之天罡</span>
                    </a>
                    <a class="item" href="/show.html" title="孤注一掷" target="_blank">
                        <span class="order">04</span>
                        <span class="keyword">孤注一掷</span>
                    </a>
                    <a class="item" href="/show.html" title="阿凡达2：水之道" target="_blank">
                        <span class="order">05</span>
                        <span class="keyword">阿凡达2：水之道</span>
                    </a>
                    <a class="item" href="/show.html" title="热搜" target="_blank">
                        <span class="order">06</span>
                        <span class="keyword">热搜</span>
                    </a>
                    <a class="item" href="/show.html" title="坚如磐石" target="_blank">
                        <span class="order">07</span>
                        <span class="keyword">坚如磐石</span>
                    </a>
                    <a class="item" href="/show.html" title="涉过愤怒的海" target="_blank">
                        <span class="order">08</span>
                        <span class="keyword">涉过愤怒的海</span>
                    </a>
                    <a class="item" href="/show.html" title="奥本海默" target="_blank">
                        <span class="order">09</span>
                        <span class="keyword">奥本海默</span>
                    </a>
                    <a class="item" href="/show.html" title="长安三万里" target="_blank">
                        <span class="order">10</span>
                        <span class="keyword">长安三万里</span>
                    </a>
                </div>
                <div class="list-item">
                    <h5 class="item-title">
                        <i class="icon-cate-ds"></i>
                        <span>电视剧热播榜</span>
                    </h5>
                    <a class="item" href="show.html" title="鸣龙少年" target="_blank">
                        <span class="one order">01</span>
                        <span class="keyword">鸣龙少年</span>
                    </a>
                    <a class="item" href="show.html" title="繁花" target="_blank">
                        <span class="two order">02</span>
                        <span class="keyword">繁花</span>
                    </a>
                    <a class="item" href="/show.html" title="三大队剧版" target="_blank">
                        <span class="three order">03</span>
                        <span class="keyword">三大队剧版</span>
                    </a>
                    <a class="item" href="/show.html" title="神隐" target="_blank">
                        <span class="order">04</span>
                        <span class="keyword">神隐</span>
                    </a>
                    <a class="item" href="/show.html" title="繁花沪语版" target="_blank">
                        <span class="order">05</span>
                        <span class="keyword">繁花沪语版</span>
                    </a>
                    <a class="item" href="/show.html" title="天启异闻录" target="_blank">
                        <span class="order">06</span>
                        <span class="keyword">天启异闻录</span>
                    </a>
                    <a class="item" href="/show.html" title="一念关山" target="_blank">
                        <span class="order">07</span>
                        <span class="keyword">一念关山</span>
                    </a>
                    <a class="item" href="/show.html" title="莲花楼" target="_blank">
                        <span class="order">08</span>
                        <span class="keyword">莲花楼</span>
                    </a>
                    <a class="item" href="show.html" title="与恶魔有约" target="_blank">
                        <span class="order">09</span>
                        <span class="keyword">与恶魔有约</span>
                    </a>
                    <a class="item" href="/show.html" title="宁安如梦" target="_blank">
                        <span class="order">10</span>
                        <span class="keyword">宁安如梦</span>
                    </a>
                </div>
                <div class="list-item">
                    <h5 class="item-title">
                        <i class="icon-cate-dm"></i>
                        <span>动漫热播榜</span>
                    </h5>
                    <a class="item" href="/show.html" title="完美世界" target="_blank">
                        <span class="one order">01</span>
                        <span class="keyword">完美世界</span>
                    </a>
                    <a class="item" href="/show.html" title="斗破苍穹年番" target="_blank">
                        <span class="two order">02</span>
                        <span class="keyword">斗破苍穹年番</span>
                    </a>
                    <a class="item" href="/show.html" title="吞噬星空" target="_blank">
                        <span class="three order">03</span>
                        <span class="keyword">吞噬星空</span>
                    </a>
                    <a class="item" href="/show.html" title="凡人修仙传" target="_blank">
                        <span class="order">04</span>
                        <span class="keyword">凡人修仙传</span>
                    </a>
                    <a class="item" href="/show.html" title="遮天" target="_blank">
                        <span class="order">05</span>
                        <span class="keyword">遮天</span>
                    </a>
                    <a class="item" href="/show.html" title="仙逆" target="_blank">
                        <span class="order">06</span>
                        <span class="keyword">仙逆</span>
                    </a>
                    <a class="item" href="/show.html" title="斗罗大陆2：绝世唐门" target="_blank">
                        <span class="order">07</span>
                        <span class="keyword">斗罗大陆2：绝世唐门</span>
                    </a>
                    <a class="item" href="/show.html" title="咒术回战第二季" target="_blank">
                        <span class="order">08</span>
                        <span class="keyword">咒术回战第二季</span>
                    </a>
                    <a class="item" href="/show.html" title="神印王座" target="_blank">
                        <span class="order">09</span>
                        <span class="keyword">神印王座</span>
                    </a>
                    <a class="item" href="/show.html" title="炼气十万年" target="_blank">
                        <span class="order">10</span>
                        <span class="keyword">炼气十万年</span>
                    </a>
                </div>
                <div class="list-item">
                    <h5 class="item-title">
                        <i class="icon-cate-zy"></i>
                        <span>综艺热播榜</span>
                    </h5>
                    <a class="item" href="/show.html" title="花儿与少年·丝路季" target="_blank">
                        <span class="one order">01</span>
                        <span class="keyword">花儿与少年·丝路季</span>
                    </a>
                    <a class="item" href="show.html" title="王牌对王牌第八季" target="_blank">
                        <span class="two order">02</span>
                        <span class="keyword">王牌对王牌第八季</span>
                    </a>
                    <a class="item" href="/show.html" title="你好星期六" target="_blank">
                        <span class="three order">03</span>
                        <span class="keyword">你好星期六</span>
                    </a>
                    <a class="item" href="/show.html" title="奔跑吧·生态篇" target="_blank">
                        <span class="order">04</span>
                        <span class="keyword">奔跑吧·生态篇</span>
                    </a>
                    <a class="item" href="/show.html" title="声生不息·家年华" target="_blank">
                        <span class="order">05</span>
                        <span class="keyword">声生不息·家年华</span>
                    </a>
                    <a class="item" href="/show.html" title="快乐老友记" target="_blank">
                        <span class="order">06</span>
                        <span class="keyword">快乐老友记</span>
                    </a>
                    <a class="item" href="show.html" title="极限挑战宝藏行4·和美乡村季" target="_blank">
                        <span class="order">07</span>
                        <span class="keyword">极限挑战宝藏行4·和美乡村季</span>
                    </a>
                    <a class="item" href="/show.html" title="爱的修学旅行" target="_blank">
                        <span class="order">08</span>
                        <span class="keyword">爱的修学旅行</span>
                    </a>
                    <a class="item" href="/show.html" title="单身即地狱第三季" target="_blank">
                        <span class="order">09</span>
                        <span class="keyword">单身即地狱第三季</span>
                    </a>
                    <a class="item" href="/show.html" title="火星情报局第六季" target="_blank">
                        <span class="order">10</span>
                        <span class="keyword">火星情报局第六季</span>
                    </a>
                </div>
            </div>

            <div class="tab-list" dataname="周榜">
                <div class="list-item">
                    <h5 class="item-title">
                        <i class="icon-cate-dy"></i>
                        <span>电影热播榜</span>
                    </h5>
                    <a class="item" href="show.html" title="三大队" target="_blank">
                        <span class="one order">01</span>
                        <span class="keyword">三大队</span>
                    </a>
                    <a class="item" href="/show.html" title="海王2：失落的王国" target="_blank">
                        <span class="two order">02</span>
                        <span class="keyword">海王2：失落的王国</span>
                    </a>
                    <a class="item" href="/show.html" title="孤注一掷" target="_blank">
                        <span class="three order">03</span>
                        <span class="keyword">孤注一掷</span>
                    </a>
                    <a class="item" href="/show.html" title="阿凡达2：水之道" target="_blank">
                        <span class="order">04</span>
                        <span class="keyword">阿凡达2：水之道</span>
                    </a>
                    <a class="item" href="/show.html" title="坚如磐石" target="_blank">
                        <span class="order">05</span>
                        <span class="keyword">坚如磐石</span>
                    </a>
                    <a class="item" href="/show.html" title="画江湖之天罡" target="_blank">
                        <span class="order">06</span>
                        <span class="keyword">画江湖之天罡</span>
                    </a>
                    <a class="item" href="/show.html" title="涉过愤怒的海" target="_blank">
                        <span class="order">07</span>
                        <span class="keyword">涉过愤怒的海</span>
                    </a>
                    <a class="item" href="/show.html" title="画江湖之不良帅" target="_blank">
                        <span class="order">08</span>
                        <span class="keyword">画江湖之不良帅</span>
                    </a>
                    <a class="item" href="/show.html" title="拿破仑" target="_blank">
                        <span class="order">09</span>
                        <span class="keyword">拿破仑</span>
                    </a>
                    <a class="item" href="/show.html" title="长安三万里" target="_blank">
                        <span class="order">10</span>
                        <span class="keyword">长安三万里</span>
                    </a>
                </div>
                <div class="list-item">
                    <h5 class="item-title">
                        <i class="icon-cate-ds"></i>
                        <span>电视剧热播榜</span>
                    </h5>
                    <a class="item" href="show.html" title="繁花" target="_blank">
                        <span class="one order">01</span>
                        <span class="keyword">繁花</span>
                    </a>
                    <a class="item" href="show.html" title="鸣龙少年" target="_blank">
                        <span class="two order">02</span>
                        <span class="keyword">鸣龙少年</span>
                    </a>
                    <a class="item" href="/show.html" title="神隐" target="_blank">
                        <span class="three order">03</span>
                        <span class="keyword">神隐</span>
                    </a>
                    <a class="item" href="/show.html" title="三大队剧版" target="_blank">
                        <span class="order">04</span>
                        <span class="keyword">三大队剧版</span>
                    </a>
                    <a class="item" href="/show.html" title="繁花沪语版" target="_blank">
                        <span class="order">05</span>
                        <span class="keyword">繁花沪语版</span>
                    </a>
                    <a class="item" href="/show.html" title="一念关山" target="_blank">
                        <span class="order">06</span>
                        <span class="keyword">一念关山</span>
                    </a>
                    <a class="item" href="/show.html" title="天启异闻录" target="_blank">
                        <span class="order">07</span>
                        <span class="keyword">天启异闻录</span>
                    </a>
                    <a class="item" href="show.html" title="你也有今天" target="_blank">
                        <span class="order">08</span>
                        <span class="keyword">你也有今天</span>
                    </a>
                    <a class="item" href="show.html" title="大江大河之岁月如歌" target="_blank">
                        <span class="order">09</span>
                        <span class="keyword">大江大河之岁月如歌</span>
                    </a>
                    <a class="item" href="/show.html" title="莲花楼" target="_blank">
                        <span class="order">10</span>
                        <span class="keyword">莲花楼</span>
                    </a>
                </div>
                <div class="list-item">
                    <h5 class="item-title">
                        <i class="icon-cate-dm"></i>
                        <span>动漫热播榜</span>
                    </h5>
                    <a class="item" href="/show.html" title="斗破苍穹年番" target="_blank">
                        <span class="one order">01</span>
                        <span class="keyword">斗破苍穹年番</span>
                    </a>
                    <a class="item" href="/show.html" title="完美世界" target="_blank">
                        <span class="two order">02</span>
                        <span class="keyword">完美世界</span>
                    </a>
                    <a class="item" href="/show.html" title="吞噬星空" target="_blank">
                        <span class="three order">03</span>
                        <span class="keyword">吞噬星空</span>
                    </a>
                    <a class="item" href="/show.html" title="凡人修仙传" target="_blank">
                        <span class="order">04</span>
                        <span class="keyword">凡人修仙传</span>
                    </a>
                    <a class="item" href="/show.html" title="遮天" target="_blank">
                        <span class="order">05</span>
                        <span class="keyword">遮天</span>
                    </a>
                    <a class="item" href="/show.html" title="仙逆" target="_blank">
                        <span class="order">06</span>
                        <span class="keyword">仙逆</span>
                    </a>
                    <a class="item" href="/show.html" title="斗罗大陆2：绝世唐门" target="_blank">
                        <span class="order">07</span>
                        <span class="keyword">斗罗大陆2：绝世唐门</span>
                    </a>
                    <a class="item" href="/show.html" title="咒术回战第二季" target="_blank">
                        <span class="order">08</span>
                        <span class="keyword">咒术回战第二季</span>
                    </a>
                    <a class="item" href="/show.html" title="神印王座" target="_blank">
                        <span class="order">09</span>
                        <span class="keyword">神印王座</span>
                    </a>
                    <a class="item" href="/show.html" title="海贼王" target="_blank">
                        <span class="order">10</span>
                        <span class="keyword">海贼王</span>
                    </a>
                </div>
                <div class="list-item">
                    <h5 class="item-title">
                        <i class="icon-cate-zy"></i>
                        <span>综艺热播榜</span>
                    </h5>
                    <a class="item" href="/show.html" title="花儿与少年·丝路季" target="_blank">
                        <span class="one order">01</span>
                        <span class="keyword">花儿与少年·丝路季</span>
                    </a>
                    <a class="item" href="show.html" title="王牌对王牌第八季" target="_blank">
                        <span class="two order">02</span>
                        <span class="keyword">王牌对王牌第八季</span>
                    </a>
                    <a class="item" href="/show.html" title="你好星期六" target="_blank">
                        <span class="three order">03</span>
                        <span class="keyword">你好星期六</span>
                    </a>
                    <a class="item" href="show.html" title="极限挑战宝藏行4·和美乡村季" target="_blank">
                        <span class="order">04</span>
                        <span class="keyword">极限挑战宝藏行4·和美乡村季</span>
                    </a>
                    <a class="item" href="/show.html" title="声生不息·家年华" target="_blank">
                        <span class="order">05</span>
                        <span class="keyword">声生不息·家年华</span>
                    </a>
                    <a class="item" href="/show.html" title="奔跑吧·生态篇" target="_blank">
                        <span class="order">06</span>
                        <span class="keyword">奔跑吧·生态篇</span>
                    </a>
                    <a class="item" href="/show.html" title="快乐老友记" target="_blank">
                        <span class="order">07</span>
                        <span class="keyword">快乐老友记</span>
                    </a>
                    <a class="item" href="show.html" title="这！就是街舞第六季" target="_blank">
                        <span class="order">08</span>
                        <span class="keyword">这！就是街舞第六季</span>
                    </a>
                    <a class="item" href="/show.html" title="爱的修学旅行" target="_blank">
                        <span class="order">09</span>
                        <span class="keyword">爱的修学旅行</span>
                    </a>
                    <a class="item" href="/show.html" title="单身即地狱第三季" target="_blank">
                        <span class="order">10</span>
                        <span class="keyword">单身即地狱第三季</span>
                    </a>
                </div>
            </div>

            <div class="tab-list" dataname="推荐榜">
                <div class="list-item">
                    <h5 class="item-title">
                        <i class="icon-watch-history"></i>
                        <span>热播总排行榜</span>
                    </h5>
                    <a class="item" href="show.html" title="鸣龙少年" target="_blank">
                        <span class="one order">01</span>
                        <span class="keyword">鸣龙少年</span>
                    </a>
                    <a class="item" href="/show.html" title="莲花楼" target="_blank">
                        <span class="two order">02</span>
                        <span class="keyword">莲花楼</span>
                    </a>
                    <a class="item" href="/show.html" title="长安三万里" target="_blank">
                        <span class="three order">03</span>
                        <span class="keyword">长安三万里</span>
                    </a>
                    <a class="item" href="/show.html" title="完美世界" target="_blank">
                        <span class="order">04</span>
                        <span class="keyword">完美世界</span>
                    </a>
                    <a class="item" href="/show.html" title="长相思" target="_blank">
                        <span class="order">05</span>
                        <span class="keyword">长相思</span>
                    </a>
                    <a class="item" href="/show.html" title="一念关山" target="_blank">
                        <span class="order">06</span>
                        <span class="keyword">一念关山</span>
                    </a>
                    <a class="item" href="/show.html" title="斗破苍穹年番" target="_blank">
                        <span class="order">07</span>
                        <span class="keyword">斗破苍穹年番</span>
                    </a>
                    <a class="item" href="/show.html" title="孤注一掷" target="_blank">
                        <span class="order">08</span>
                        <span class="keyword">孤注一掷</span>
                    </a>
                    <a class="item" href="/show.html" title="斗罗大陆" target="_blank">
                        <span class="order">09</span>
                        <span class="keyword">斗罗大陆</span>
                    </a>
                    <a class="item" href="/show.html" title="宁安如梦" target="_blank">
                        <span class="order">10</span>
                        <span class="keyword">宁安如梦</span>
                    </a>
                </div>

                <div class="list-item">
                    <h5 class="item-title">
                        <i class="icon-play"></i>
                        <span>站长推荐榜</span>
                    </h5>
                    <a class="item" href="show.html" title="黑土无言" target="_blank">
                        <span class="one order">01</span>
                        <span class="keyword">黑土无言</span>
                    </a>
                    <a class="item" href="show.html" title="如果奔跑是我的人生" target="_blank">
                        <span class="two order">02</span>
                        <span class="keyword">如果奔跑是我的人生</span>
                    </a>
                    <a class="item" href="show.html" title="侦察英雄" target="_blank">
                        <span class="three order">03</span>
                        <span class="keyword">侦察英雄</span>
                    </a>
                    <a class="item" href="show.html" title="这！就是街舞第六季" target="_blank">
                        <span class="order">04</span>
                        <span class="keyword">这！就是街舞第六季</span>
                    </a>
                    <a class="item" href="show.html" title="你也有今天" target="_blank">
                        <span class="order">05</span>
                        <span class="keyword">你也有今天</span>
                    </a>
                    <a class="item" href="show.html" title="大江大河之岁月如歌" target="_blank">
                        <span class="order">06</span>
                        <span class="keyword">大江大河之岁月如歌</span>
                    </a>
                    <a class="item" href="show.html" title="陌上人如玉" target="_blank">
                        <span class="order">07</span>
                        <span class="keyword">陌上人如玉</span>
                    </a>
                    <a class="item" href="show.html" title="漂洋过海再爱你" target="_blank">
                        <span class="order">08</span>
                        <span class="keyword">漂洋过海再爱你</span>
                    </a>
                    <a class="item" href="show.html" title="我们的翻译官" target="_blank">
                        <span class="order">09</span>
                        <span class="keyword">我们的翻译官</span>
                    </a>
                    <a class="item" href="show.html" title="王牌对王牌第八季" target="_blank">
                        <span class="order">10</span>
                        <span class="keyword">王牌对王牌第八季</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>

<footer id="footer" class="wrapper pd60">
    <p class="sitemap">
        <img src="statics/picture/logo.png" height="10" /> <a target="_blank" href="/about.html">关于</a><span class="space-line-bold"></span> <a target="_blank" href="">排行榜</a><span class="space-line-bold"></span> <a target="_blank" href="/map.html">MAP</a><span class="space-line-bold"></span> <a target="_blank" href="/rss.xml">RSS</a><span class="space-line-bold"></span> <a target="_blank" href="/rss/baidu.xml">Baidu</a><span class="space-line-bold"></span> <a target="_blank" href="/rss/google.xml">Google</a><span class="space-line-bold"></span> <a target="_blank" href="/rss/bing.xml">Bing</a><span class="space-line-bold"></span> <a target="_blank" href="/rss/so.xml">SO</a><span class="space-line-bold"></span> <a target="_blank" href="/rss/sogou.xml">Sogou</a><span class="space-line-bold"></span>
        <a target="_blank" href="/rss/sm.xml">SM</a>
    </p>
    <p>本站所有内容均来自互联网分享站点所提供的公开引用资源，未提供影视资源上传、存储服务。</p>
</footer>

<div class="fixed_right_bar">
    <div class="mx-lrmenu">
        <div class="ant-back-top dbicon" style="display: none">
            <i class="iconfont icon-a-zhiding5"></i>
        </div>
        <div class="dbicon">
            <a id="numerous" href="#" style="color: #ffffff; font-weight: bold" title="切換到繁體中文">繁</a>
            <script src="statics/js/font.js"></script>
        </div>
        <div class="dbicon" id="clothes" onclick="clothesChange();">
            <i class="iconfont icon-a-yejian2"></i>
        </div>
        <div class="dbicon ly">
            <a href="/gbook.html"><i class="iconfont icon-a-pinglun"></i></a>
        </div>
        <div class="dbicon">
            <a href="/topic.html"><i class="iconfont icon-zhuanti-2"></i></a>
        </div>
    </div>
    <div class="moremeum">
        <i class="iconfont icon-a-gengduo1"></i>
    </div>
</div>
<div class="mxonefoot">
    <a class="item" href="index.html">
        <i class="icon-home size20"></i>
        <div class="grid-item-name" title="电影先生首页">首页</div>
    </a>

    <a class="item" href="v/dianying.html">
        <i class="size20 icon-cate-dy"></i>
        <div class="grid-item-name">电影</div>
    </a>

    <a class="item" href="v/dianshiju.html">
        <i class="size20 icon-cate-ds"></i>
        <div class="grid-item-name">电视剧</div>
    </a>

    <a class="item" href="v/dongman.html">
        <i class="size20 icon-cate-dm"></i>
        <div class="grid-item-name">动漫</div>
    </a>

    <a class="item" href="v/zongyi.html">
        <i class="size20 icon-cate-zy"></i>
        <div class="grid-item-name">综艺</div>
    </a>

    <a class="item" href="arttype/zixun.html">
        <i class="size20 iconfont icon-zixun2"></i>
        <div class="grid-item-name">资讯</div>
    </a>
</div>

<script type="text/javascript">
    $("#clothes").on("click", function () {
        $(this).children(".iconfont").toggleClass("icon-rijianmoshi");
        $(this).children(".iconfont").toggleClass("icon-a-yejian2");
    });
</script>

<div class="popup" id="note" style="display: none">
    <div class="popup popup-ts open">
        <div class="popup-header">
            <h3 class="popup-title">公告内容</h3>
        </div>
        <div class="popup-main">
            <p>哇！电影先生终于等到您啦！恭喜您开启了一个影视宝库！打今儿起，咱想看啥就看啥！让您不再错过任何一部优秀影片！</p>
            <p class="popup-domain">
              <span>.NG 域名</span
              ><strong
            ><a href="index.html" target="_blank">DianYi<em>.ng</em></a></strong
            >
            </p>
            <p class="popup-domain">
              <span>.NG 域名</span
              ><strong
            ><a href="https://dianying.xianshe.ng" target="_blank">DY.XianShe<em>.ng</em></a></strong
            >
            </p>
            <p class="popup-domain">
              <span>.COM 域名</span
              ><strong
            ><a href="https://xn--44qz85a01qpc.com" target="_blank">电影先生<em>.com</em></a></strong
            >
            </p>
            <p>
                将以上域名加入浏览器收藏夹，回家更方便。点此 <a href="web.html" target="_blank" class="close-pop"><strong>获取电影先生最新域名</strong></a
            >。
            </p>
        </div>
        <div class="popup-footer">
            <span class="popup-btn-o" onclick="closeclick()">我记住啦</span>
            <div class="article-bg"></div>
            <div class="article-bg01"></div>
        </div>
        <!-- 弹窗公告-->

        <div class="popup popup-notice none">
            <div class="popup-icon"><img src="statics/picture/backhome.svg" /></div>
            <div class="popup-header">
                <h3 class="popup-title">官方域名列表</h3>
            </div>
            <div class="popup-main">
                <p></p>
                <p>目前网络上出现了许多山寨电影先生的网站，以下是电影先生官方域名，请认准并保存，以防上当受骗。</p>
                <p>
                    - <a><strong>DianYi.ng</strong></a>
                    <br />
                    - <a><strong>Www.DianYi.ng</strong></a>
                    <br />
                    - <a><strong>电影先生.Com</strong></a>
                    <br />
                    - <a><strong>DianYing.XianShe.ng</strong></a>
                    <br />
                </p>
            </div>
            <div class="popup-footer">
                <a href="web.html" class="popup-btn-o">查看全部域名</a>
            </div>
            <div class="close-popup" id="close-popup"><i class="icon-close-o"></i></div>
        </div>
        <!-- 网址-->

        <script type="text/javascript">
            document.onkeydown = function () {
                var e = window.event || arguments[0];

                if (e.keyCode == 123) {
                    alert("禁止调试");
                    return false;
                }
            };

            var threshold = 160;
            window.setInterval(function () {
                if (window.outerWidth - window.innerWidth > threshold || window.outerHeight - window.innerHeight > threshold) {
                    function disableDebugger() {
                        debugger;
                    }
                    $(document).ready(function () {
                        disableDebugger();
                    });
                }
            }, 1e3);
        </script>
        <div class="shortcuts-mobile-overlay"></div>
        <script src="statics/js/mxhtml.js"></script>
        <!-- 底部广告位 -->
        <!-- 底部-->
    </div>
</div>
</body>
</html>
{{end}}
