{{ define "web.html" }}
{{template "head" .}}
<body class="article page">
{{template "header" .}}

<main id="main" class="wrapper">
    <div class="content">
        <div>
            <h1 class="page-title">电影先生最新地址</h1>
            <div class="box">
                <div class="article-content">
                    <h2 id="domain"><a href="#domain">域名列表</a></h2>
                    <p>
                        <a href="http://DianYi.ng" target="_blank">https://DianYi.ng</a>&nbsp;<span speed="http://DianYi.ng/">测速中</span><br />
                        <a href="http://Www.DianYi.ng" target="_blank">https://Www.DianYi.ng</a>&nbsp;<span speed="http://Www.DianYi.ng/">测速中</span><br />
                        <a href="http://电影先生.Com" target="_blank">https://电影先生.Com</a>&nbsp;<span speed="http://电影先生.Com/">测速中</span><br />
                        <a href="http://DianYing.XianShe.ng" target="_blank">https://DianYing.XianShe.ng</a>&nbsp;<span speed="http://DianYing.XianShe.ng/">测速中</span><br />
                        <b>如果您认可电影先生，请分享给你的好友！</b>
                    </p>
                    <p>
                        <a href="label/app.html" class="btn-main btn-large shadow-drop article-btn">电影先生APP下载</a><br />
                        如果域名被封无法访问，可通过App打开、查看最新网址..<br />
                    </p>
                    <hr />
                    <h2>电影先生</h2>
                    <ul>
                        <li>
                            <em><b>防封</b></em
                            >：如果域名被封无法访问，可通过App打开、查看<a href="#domain">最新网址</a>；
                        </li>
                        <li>
                            <em><b>最新</b></em
                            >：最新热门VIP在线看与下载资源同步更新；
                        </li>
                        <li>
                            <em><b>多源</b></em
                            >：持续添加优质线路、视频源供您切换，画质清晰、播放流畅；
                        </li>
                        <li>
                            <em><b>海量</b></em
                            >：聚合全网资源，想看啥就看啥
                        </li>
                        <li>
                            <em><b>下载</b></em
                            >：聚合全网下载，持续完善资源库
                        </li>
                    </ul>
                </div>
                <div class="article-bg"></div>
                <div class="article-bg01"></div>
            </div>
        </div>
    </div>
</main>


{{template "footer" .}}
{{template "popup" .}}
{{template "javascript" .}}
</body>
</html>
{{end}}
