{{ define "footer" }}
<footer id="footer" class="wrapper pd60" >
	<p class="sitemap"><img height="10" src="{{.__STATIC__}}/picture/logo.png">
		<a href="/about.html" target="_blank">关于</a><span class="space-line-bold"></span>
		<a href="top.html" target="_blank">排行榜</a><span class="space-line-bold"></span>
		<a href="/map.html" target="_blank">MAP</a><span class="space-line-bold"></span>
		<a href="/rss.xml" target="_blank">RSS</a><span class="space-line-bold"></span>
		<a href="/rss/baidu.xml" target="_blank">Baidu</a><span class="space-line-bold"></span>
		<a href="/rss/google.xml" target="_blank">Google</a><span class="space-line-bold"></span>
		<a href="/rss/bing.xml" target="_blank">Bing</a><span class="space-line-bold"></span>
		<a href="/rss/so.xml" target="_blank">SO</a><span class="space-line-bold"></span>
		<a href="/rss/sogou.xml" target="_blank">Sogou</a><span class="space-line-bold"></span>
		<a href="/rss/sm.xml" target="_blank">SM</a>
	</p>
	<p>本站所有内容均来自互联网分享站点所提供的公开引用资源，未提供影视资源上传、存储服务。</p>
</footer>

<div class="fixed_right_bar">
	<div class="mx-lrmenu">
		<div class="ant-back-top dbicon" style="display:none;">
			<i class="iconfont icon-a-zhiding5"></i>
		</div>
		<div class="dbicon">
			<a href="#" id="numerous" style="color: #ffffff; font-weight: bold;" title="切換到繁體中文">繁</a>
		</div>
		<div class="dbicon" id="clothes" onclick="clothesChange();">
			
			<i class="iconfont icon-a-yejian2"></i>
		</div>
		<div class="dbicon ly">
			<a href="/gbook.html"><i class="iconfont icon-a-pinglun"></i></a>
		</div>
		<div class="dbicon">
			<a href="/topic.html"><i class="iconfont icon-zhuanti-2"></i></a>
		</div>
	</div>
	<div class="moremeum">
		<i class="iconfont icon-a-gengduo1"></i>
	</div>
</div>

<div class="mxonefoot">
	<a class="item" href="">
		<i class="icon-home size20"></i>
		<div class="grid-item-name" title="电影先生首页">首页</div>
	</a>
	
	<a class="item" href="v/dianying.html">
		<i class="size20 icon-cate-dy"></i>
		<div class="grid-item-name">电影</div>
	</a>
	
	<a class="item" href="v/dianshiju.html">
		<i class="size20 icon-cate-ds"></i>
		<div class="grid-item-name">电视剧</div>
	</a>
	
	<a class="item" href="v/dongman.html">
		<i class="size20 icon-cate-dm"></i>
		<div class="grid-item-name">动漫</div>
	</a>
	
	<a class="item" href="v/zongyi.html">
		<i class="size20 icon-cate-zy"></i>
		<div class="grid-item-name">综艺</div>
	</a>
	
	<a class="item" href="arttype/zixun.html">
		<i class="size20 iconfont icon-zixun2"></i>
		<div class="grid-item-name">资讯</div>
	</a>
</div>
{{end}}