{{ define "javascript" }}
<!--所有页面依赖的js-->
<script>
    var maccms = {
        "path": "",
        "mid": "1",
        "url": "dianyi.ng",
        "wapurl": "dianyi.ng",
        "mob_status": "0"
    };
</script>
<script>
    var clothes = $.cookie('clothes');
    if (clothes) {
        if (clothes == 'white') {
            $('.theme_black').removeAttr('disabled');
        } else {
            $('.theme_black').attr('disabled', '');
        }
    } else {
        $.cookie('clothes', 'black', { expires: 365, path: '/' })
    }
</script>
<script>
    function clothesChange(){
        var clothes = $.cookie('clothes');
        if (clothes == 'black') {
            $.cookie('clothes','white', {expires: 365, path: '/'});
            $('.theme_black').each(function(){
                $(this).removeAttr('disabled');
            });
        } else {
            $.cookie('clothes','black', {expires: 365, path: '/'});
            $('.theme_black').each(function(){
                $(this).attr('disabled', '');
            });
        }
        clothes = $.cookie('clothes');
    }
</script>
<script type="text/javascript">
    document.onkeydown=function(){
        var e = window.event||arguments[0];
        if(e.keyCode==123){
            alert('禁止调试');
            return false;
        }
    }
    var threshold = 160;
    window.setInterval(function() {
        if (window.outerWidth - window.innerWidth > threshold ||
            window.outerHeight - window.innerHeight > threshold) {
            function disableDebugger() {
                debugger;
            }
            $(document).ready(function () {
                disableDebugger();
            });
        }
    }, 1e3);
</script>
<!--中文繁体切换-->
<script src="{{.__JS__}}/font.js"></script>
<script src="{{.__JS__}}/mxhtml.js"></script>
<script>
    $(".nav-menu-search").click(function () {
        $(".nav-search").addClass("block");
    });
    $(document).scroll(function() {
        var H = $(document).scrollTop();
        if(H > 20) {
            $(".header-content").addClass("header-bg");
        } else {
            $(".header-content").removeClass("header-bg");
        }
        if(H > 140) {
            $(".header-content").addClass("header-bg");
            $(".search-dh").append($(".search-box"));
            $(".nav-menu-search").click(function () {
                $(".nav-search").addClass("block");
            });
        } else {
            $(".header-content").removeClass("header-bg");
            $(".search-main").append($(".search-box"));
        }
    });
</script>
<script type="text/javascript">
    // 白天黑夜模式
    $("#clothes").on('click',function () {
        $(this).children(".iconfont").toggleClass("icon-rijianmoshi");
        $(this).children(".iconfont").toggleClass("icon-a-yejian2")
    });
</script>
<!--所有页面依赖的js-->




{{ if eq .page "play"}}
<!--play.html-->
<script type="text/javascript">
    var vod_name='{{ .PageData.detail.VodName }}',
        vod_url=window.location.href,
        vod_part='{{ .PageData.detail.Part }}';
</script>

<script>
    // 影片评论
    $(function(){
        MAC.Comment.Login = 0;
        MAC.Comment.Verify = 1;
        MAC.Comment.Init();
        MAC.Comment.Show(1);
    });
</script>
<script>
    function api_jump(url){
        location.href = url;
    }
    function api_jump2(url){
        if(MacPlayer.Link !== url){
            location.href = url;
        }
    }
</script>
<script>
    $(".sq_jj").click(function(){
        $(".sqjj_a").toggle();
        $(".zkjj_a").toggle();
    });
    $(".zk_jj").click(function(){
        $(".sqjj_a").toggle();
        $(".zkjj_a").toggle();
    });
    $(function () {
        if ($('.swiper-container').length > 0) {
            var mySwiper = new Swiper('.swiper-container', {
                direction: 'vertical',
                speed: 500,
                autoplay: {
                    delay: 5000,
                    stopOnLastSlide: false,
                    disableOnInteraction: false,
                },
                loop: true
            });
        }
    });
</script>
<script>
    window.onload = function() {
        var iframe = document.getElementsByTagName('iframe')[0];
        var userAgent = navigator.userAgent || navigator.vendor || window.opera;

        if (/mobile/i.test(userAgent)) {
            iframe.style.display = 'none';

            if (typeof JDApp !== 'undefined') {
                JDApp.init();
                JDApp.remove();
            }
        }
    };
</script>
<script>
    window.onload=function(){
        var ha = ($('.MacPlayer').find('table').offset().top + $('.MacPlayer').find('table').height());
        $(window).scroll(function(){
            if ( $(window).scrollTop() > ha ) {
                $('.MacPlayer').find('table').removeClass('in').addClass('out');
                $('.MacPlayer').find('table').css('height','250px');
                $('.MacPlayer').find('table').css('width','450px');
            } else if ( $(window).scrollTop() < ha) {
                $('.MacPlayer').find('table').removeClass('out').addClass('in');
                $('.MacPlayer').find('table').css('height','100%');
            }
        });
    }
</script>
<script type="text/javascript" src="{{.__JS__}}/history.js"></script>
<script type="text/javascript" src="{{.__JS__}}/jquery.qrcode.min.js"></script>
<script type="text/javascript" src="{{.__JS__}}/swiper-bundle.min.js"></script>
<!--play.html-->
{{end}}

{{ if eq .page "show"}}
<!--show.html-->
<script type="text/javascript">
    $(".tab-item:first,.module-list:first").addClass("selected");
</script>
<script type="text/javascript" src="{{.__JS__}}/js/desc.js"></script>
<!--show.html-->
{{end}}


{{ if eq .page "web"}}
<!--web.html-->
<script>
    var ping = 1;
    setInterval("ping++", 1);

    function test(i) {
        $("span[speed]").each(function (x) {
            if (i === x) {
                var str = "较慢";
                if (ping < 300) {
                    $(this).css("color", "green");
                    str = "极快";
                }
                if (ping > 300 && ping < 500) {
                    $(this).css("color", "#00FF00");
                    str = "较快";
                }
                if (ping > 500) {
                    $(this).css("color", "#666666");
                }
                $(this).text("" + str + "" + "(" + ping * 1 + "ms)");
            }
        });
    }
    $(function () {
        $("span[speed]").each(function (i) {
            var sortid = $(this).attr("speed");
            var self = $(this);
            self.append('<img src="' + sortid + "?" + Math.random() + '" width="1" height="1" style="display:none" onerror=test(' + i + ") >");
        });
    });
</script>
<!--web.html-->
{{end}}


{{ if or (eq .page "pianku") (eq .page "search") }}
<script>
    // pianku.html 、search.html
    $(".mac_total").text('119997');
</script>
{{end}}

{{ end }}