{{ define "popup" }}
<div class="popup" id="note" style="display:none;">
    <div class="popup popup-ts open">
        <div class="popup-header">
            <h3 class="popup-title">公告内容</h3>
        </div>
        <div class="popup-main">
            <p>哇！电影先生终于等到您啦！恭喜您开启了一个影视宝库！打今儿起，咱想看啥就看啥！让您不再错过任何一部优秀影片！</p><p class="popup-domain"><span>.NG 域名</span><strong><a href="index.html" target="_blank">DianYi<em>.ng</em></a></strong></p><p class="popup-domain"><span>.NG 域名</span><strong><a href="https://dianying.xianshe.ng" target="_blank">DY.XianShe<em>.ng</em></a></strong></p><p class="popup-domain"><span>.COM 域名</span><strong><a href="https://xn--44qz85a01qpc.com" target="_blank">电影先生<em>.com</em></a></strong></p><p>将以上域名加入浏览器收藏夹，回家更方便。点此 <a href="web.html" target="_blank" class="close-pop"><strong>获取电影先生最新域名</strong></a>。</p>	</div>
        <div class="popup-footer">
            <span class="popup-btn-o" onclick="closeclick()">我记住啦</span>
            <div class="article-bg">

            </div>
            <div class="article-bg01">

            </div>
        </div>
        <!-- 弹窗公告-->

        <div class="popup popup-notice none">
            <div class="popup-icon"><img src="statics/picture/backhome.svg"></div>
            <div class="popup-header">
                <h3 class="popup-title">官方域名列表</h3></div>
            <div class="popup-main">
                <p>
                <p>目前网络上出现了许多山寨电影先生的网站，以下是电影先生官方域名，请认准并保存，以防上当受骗。</p>
                <p>-			<a><strong>DianYi.ng</strong></a><br>
                    -			<a><strong>Www.DianYi.ng</strong></a><br>
                    -			<a><strong>电影先生.Com</strong></a><br>
                    -			<a><strong>DianYing.XianShe.ng</strong></a><br>
                </p>
            </div>
            <div class="popup-footer">
                <a href="web.html" class="popup-btn-o">查看全部域名</a>
            </div>
            <div class="close-popup" id="close-popup"><i class="icon-close-o"></i></div>
        </div>
        <!-- 网址-->
        <div class="shortcuts-mobile-overlay"></div>
        <!-- 底部广告位 -->
        <!-- 底部-->



        <!--play.html、show.html-->
        <div class="shortcuts-box"><div id="shortcuts-info"></div></div>
        <!--play.html、show.html-->

        <!--play.html-->
        <div class="shortcuts-mobile-overlay"></div>
        <div class="popup popup-tips none">
            <div class="popup-header">
                <h3 class="popup-title">投屏教程</h3>
            </div>
            <div class="popup-main">
                <p><strong>第一步</strong><br>
                    将电视/盒子、手机连接到同一WIFI下；</p>
                <p><strong>第二步</strong><br>
                    在视频播放页面，找到 <strong><i class="icon-screen-o"></i></strong> 图标，从列表中选择需要投屏的设备即可投屏成功；</p>
                <p><strong>依然无法连接到电视？</strong><br>
                    请点击下方按钮，查看不同手机和浏览器的投屏教程。</p>
            </div>
            <div class="popup-footer"><a href="/help.html" target="_blank" class="popup-btn-o">查看详细教程</a></div>
        </div>
        <!-- 投屏教程 -->
        <div class="shortcuts-mobile-overlay"></div>
        <div class="shortcuts-mobile-overlay"></div>
        <span class="mac_ulog_set none" alt="设置播放页浏览记录" data-type="4" data-mid="1" data-id="433129" data-sid="1" data-nid="1"></span>
        <span class="mac_hits none" data-mid="1" data-id="433129" data-type="hits"></span>
        <!--play.html-->


        <!--show.html-->
        <span style="display: none" class="mac_ulog_set" alt="设置内容页浏览记录" data-type="1" data-mid="1" data-id="577200" data-sid="0" data-nid="0"></span>
        <span style="display: none" class="mac_history_set" alt="设置History历史记录" data-name="[动画片]哆啦A梦：大雄与天空的理想乡" data-pic="https://img.dianyi.ng/view/photo/s_ratio_poster/public/p2891257290.jpg"></span>
        <!--show.html-->


    </div>
</div>
{{ end }}